<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://cdn.bootstrapmb.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Javascripts -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <!-- Project Files -->
    <link rel="stylesheet" href="/static/css/jquery.bootstrap.year.calendar.css">
    <script src="/static/js/jquery.bootstrap.year.calendar.js"></script>
    <!--Title-->
    <title>车场日历</title>
    <style type="text/css">
        .workday{
            color:black;
        }
        .nonworkday{
            background: #f7caca;
            border-radius: 50%;
        }
    </style>
</head>
<body>
{% extends 'iframe.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/jquery.bootstrap.year.calendar.css">
{% endblock %}

{% block content %}

<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <ol class="col-lg-5 breadcrumb">
                            <li>停车场管理</li>
                            <li>日历管理</li>
                        </ol>
                        <div class="ibox-tools">
                            <a onclick="window.location.href=window.location.href; "><i class="fa fa-refresh animated rotateIn"></i>&nbsp; 重新载入</a>
                        </div>
                    </div>
                    <div class="ibox-content" style="padding-top: 5px;padding-bottom: 5px;border:none">
                        <div class="form-inline ">
                            <div class="form-inline">
                                <form id='query_form' action='' method="post">
                                    {% csrf_token %}
                                    <input type='hidden' name='year' value="{{year}}" />
                                    <input type='hidden' name='action' value="save" />

                                    {% for i in workdays %}
                                    <input type='hidden' name='workdays' value="{{i}}" />
                                    {% endfor %}
                                    {% for i in nonworkdays %}
                                    <input type='hidden' name='nonworkdays' value="{{i}}" />
                                    {% endfor %}
                                    <button type="submit" class=" btn btn-primary model-btn"  >保存</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                         <div class="calendar"></div>
                    </div>
                    <form id='change_year_form' action='' method="post">
                        {% csrf_token %}
                        <input type='hidden' name='year' />
                        <input type='hidden' name='action' value="change_year" />
                    </form>
                </div>
            </div>
        </div>
 
{% endblock %}

{% block js %}

<script src="/static/js/popper.min.js"></script>
<script src="/static/js/jquery.bootstrap.year.calendar.js"></script>


<script>
    var year = parseInt({{year}})

    $('.calendar').calendar({'startYear': year});

    // $('.calendar').on('jqyc.changeYearToPrevious', function (event) {
    //     var currentYear = $(this).find('.jqyc-change-year').data('year');
    //     console.log(currentYear);
    // });

    // $('.calendar').on('jqyc.changeYearToNext', function (event) {
    //     var currentYear = $(this).find('.jqyc-next-year').data('year');
    //     console.log(currentYear);
    // });

    // $('.calendar').on('jqyc.dayChoose', function (event) {
    //     var choosenYear = $(this).data('year');
    //     var choosenMonth = $(this).data('month');
    //     var choosenDay = $(this).data('day-of-month');
    //     var date = new Date(choosenYear, choosenMonth, choosenDay);
    //     console.log(date);
    // });
    $('table').on( 'click','.workday', function(){
        $(this).removeClass('workday')
        $(this).addClass('nonworkday')
        var id = $(this).attr('id')

        $('form').find('input[name=workdays][value='+id+']').remove()
        $('form').append('<input type="hidden" name="nonworkdays" value="'+id+'" />')
    })
    $('table').on('click','.nonworkday',function(){
        $(this).removeClass('nonworkday')
        $(this).addClass('workday')
        var id = $(this).attr('id')

        $('form').find('input[name=nonworkdays][value='+id+']').remove()
        $('form').append('<input type="hidden" name="workdays" value="'+id+'" />')
    })
</script>

{% for i in workdays %}
<script type="text/javascript">
    var id = '{{i}}'
    $('#'+id).removeClass('nonworkday')
    $('#'+id).addClass('workday')
</script>
{% endfor %}

{% for i in nonworkdays %}
<script type="text/javascript">
    var id = '{{i}}'
    $('#'+id).removeClass('workday')
    $('#'+id).addClass('nonworkday')
</script>
{% endfor %}

{% endblock %}