{% extends 'iframe.html' %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <ol class="col-lg-5 breadcrumb">
                            <li>停车场管理</li>
                            <li>停车场管理</li>
                        </ol>
                        <div class="ibox-tools">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#" onclick="location.reload()"><i class="fa fa-refresh animated rotateIn"></i>&nbsp; 重新载入</a>
                                </li>
                            </ul>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                   
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-6 m-b-xs">
                                <button type="button" id="Add" class=" btn btn-primary model-btn" data-target='add_role_model' style="display: inline-block;"><i class="fa fa-plus"></i>&nbsp;新增</button>
                                <button type="button" id="delete-btn" class="btn btn-primary " style="display: inline-block;"><i class="fa fa-trash"></i>&nbsp;删除</button>
                                <!-- <button type="button" id="reload-btn" class="btn btn-primary " onclick="rel()" style="display: inline-block;"><i class="fa fa-trash"></i>&nbsp;刷新</button> -->
                                <!-- <button type="button" id="Enable" class="btn btn-primary "><i class="fa fa-check-circle-o"></i>&nbsp;查询</button> -->
                            </div>
                            <div class="col-sm-3 m-b-xs"></div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped  table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>编号</th>
                                        <th>车场名称</th>
                                        <th>区域数</th>
                                        <th>泊位数</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody id="data-view">
                                    <form id='delete-form' action="" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value='delete'>
                                    {% for i in parkinglot %}
                                        <tr>
                                            <td><input name='ids' type='checkbox' value='{{i.id}}' /></td>
                                            <td>{{forloop.counter}} </td>
                                            <td>{{ i.name }}</td>
                                            <td>{{i.zone_num}} </td>
                                            <td>{{i.place_num}} </td>
                                            <td><button type="button" id="update-btn" class="btn btn-primary " onclick="change({{i.id}})" style="display: inline-block;"><i class="fa fa-edit"></i>&nbsp;修改</button></td>
                                        </tr>
                                    {% empty %}
                                    <tr class="text-center">
                                        <td colspan="6">没有找到匹配的记录</td>
                                    </tr>
                                    {% endfor %}
                                    </form>

                                </tbody>

                                <script id="data-tmpl" type="text/x-jquery-tmpl">
                                     
                                </script>

                            </table>
                        </div>
                        {% include 'common/page.html' %}
                    </div>
                </div>
            </div>
        </div>

<!-- update model -->
    {% for i in parkinglot %}
        <div id='update_model_{{ i.id }}' class='model'>
        <div class="layui-layer-shade" id="layui-layer-shade6" times="6" style="z-index: 19891019; background-color: rgb(0, 0, 0); opacity: 0.3;"></div>
        <div class="layui-layer layui-layer-iframe" id="layui-layer6" type="iframe" times="6" showtime="0" contype="string" style="z-index: 19891020; width: 820px; height: 580px; top:20.5px; left: 215px;">
            <div class="layui-layer-title" style="cursor: move;"><i class="fa fa-user"></i> 修改用户</div>
            <div id="" class="layui-layer-content"><div class="ibox-content">
                <div class="form-horizontal" id="verifyCheck">
                    <form id='update_form_{{i.id}}' action='' method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">车场名称</label>
                            <div class="col-sm-4">
                                <input type="text" name="name" class="form-control required" value="{{ i.name }} ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">区域数</label>
                            <div class="col-sm-4">
                                <input type="text" name="zone_num" class="form-control" value="{{ i.zone_num}} ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">泊位数</label>
                            <div class="col-sm-4">
                                <input type="text" name="place_num" class="form-control required" value="{{i.place_num }} ">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" name="id" class="form-control" value='{{i.id}}'>
                                <input type="hidden" name="action" class="form-control" value='update'>
                                <button type="submit" class="btn btn-primary" style="display: inline-block;"><i class="fa fa-check"></i> 保存</button>&nbsp;
                                <button class="btn btn-warning cancel" type="button" style="display: inline-block;"><i class="fa fa-times"></i> 取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div></div>
            <span class="layui-layer-setwin">
                <!-- <a class="layui-layer-min" href="javascript:;"><cite></cite></a>
                <a class="layui-layer-ico layui-layer-max" href="javascript:;"></a> -->
                <a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a>
            </span>
            <span class="layui-layer-resize"></span></div>
       </div>
       {% endfor %}

<!-- add model -->
       <div id='add_role_model' class='model'>
        <div class="layui-layer-shade" id="layui-layer-shade6" times="6" style="z-index: 19891019; background-color: rgb(0, 0, 0); opacity: 0.3;"></div>

        <div class="layui-layer layui-layer-iframe" id="layui-layer6" type="iframe" times="6" showtime="0" contype="string" style="z-index: 19891020; width: 820px; height: 580px; top:20.5px; left: 215px;">
            <div class="layui-layer-title" style="cursor: move;"><i class="fa fa-user"></i> 新增用户</div>
            <div id="" class="layui-layer-content"><div class="ibox-content">
                <div class="form-horizontal" id="verifyCheck">
                    <form id='add_form' action='' method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">车场名称</label>
                            <div class="col-sm-4">
                                <input type="text" id='name' name="name" class="form-control required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">区域数</label>
                            <div class="col-sm-4">
                                <input type="text" id='zone_num' name="zone_num" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">泊位数</label>
                            <div class="col-sm-4">
                                <input type="text" id='place_num' name="place_num" class="form-control required">
                            </div>
                        </div>
                        
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" name="action" class="form-control" value='add'>

                                <button type="submit" class="btn btn-primary" style="display: inline-block;"><i class="fa fa-check"></i> 保存</button>&nbsp;
                                <button class="btn btn-warning cancel" type="button" style="display: inline-block;"><i class="fa fa-times"></i> 取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div></div>
            <span class="layui-layer-setwin">
                <!-- <a class="layui-layer-min" href="javascript:;"><cite></cite></a>
                <a class="layui-layer-ico layui-layer-max" href="javascript:;"></a> -->
                <a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a>
            </span>
            <span class="layui-layer-resize"></span></div>
       </div>
    </div>
{% endblock %}

{% block js %}
 <script>

    initValidator('#add_form','');
    function initValidator(name,id){
        $(name).bootstrapValidator({

　　　　　　 message: 'This value is not valid',
        　 feedbackIcons: {
            　　　　　　　　valid: 'glyphicon glyphicon-ok',
            　　　　　　　　invalid: 'glyphicon glyphicon-remove',
            　　　　　　　　validating: 'glyphicon glyphicon-refresh'
        　　　　　　　　   },

            fields: {
                zone_num: {
                    validators: {
                        notEmpty: {
                            message: '区域属不能为空'
                        },
                        regexp: {
                            regexp: /^[0-9]+$/,
                            message: '请输入整数'
                        }
                    }
                },
                place_num: {
                    validators: {
                        notEmpty: {
                            message: '泊位数不能为空'
                        },
                        regexp: {
                            regexp: /^[0-9]+$/,
                            message: '请输入整数'
                        }
                    }
                },
                name:{
                    validators:{
                        notEmpty:{
                            message:'停车场名称不能为空'
                        }
                    }
                }

            }
        })
    }


    function change(id){
        initValidator('#update_form_'+id,id);
        $('#update_model_'+id).show()
    }
    function rel(){

    	window.location.reload()
    }
   
    </script>

{% endblock %}
