<!-- 有车牌的车辆 -->

{% extends 'public_count/base/base.html' %}

{% block content %}
<style type="text/css">
	.in{
		font-family: PingFangSC-Medium;
	    font-size: 16px;
	    color: #6D7278;
	    padding-left: 20px;
	}
	.time{
		font-family: PingFangSC-Medium;
		font-size: 16px;
		color: #000000;
	}

	/*.bottom-panel. */
	.bottom-panel{
		background: #FFFFFF;
	    box-shadow: 0 0 10px 0 rgba(0,0,0,0.50);
	    border-radius: 3px;
	    border-radius: 3px;
	    height: 120px;
	    width: 80%;
	    margin: 10%;
	    position: absolute;
	    text-align: left;
	    bottom: 100px;
	    font-family: PingFangSC-Semibold;
	}
	.bottom-panel .number{
		font-size: 32px;
		text-align: left;
	    margin: 5px 1px 0px 15px;
		color: #000000;
	}
	.bottom-panel .parkinglot{
		color: #000000;
	    margin: 0px 1px 0px 15px;
		font-size: 18px;
	}
	.bottom-panel .address{
		font-size: 12px;
	    margin: 0px 1px 0px 15px;
		color: #6D7278;
	}
	.bottom-panel .btn{
		position: relative;
	    bottom: -3px;
	    left: 26%;
	    width: 40%;
	    background: #3366CC;
	    border-radius: 3px;
	    border: none;
	    font-family: PingFangSC-Medium;
	    font-size: 16px;
	    color: #FFFFFF;
	    text-align: center;
	    height: 40px;
	    vertical-align: middle;
	    display: table-cell;
	}
</style>
<div class='title'>停车详情</div>
	<div class="in">
		<div>入场时间</div>
		<div class='time'>{{ r.in_time|date:'Y-m-d H:i' }}</div>
	</div>
	<div class='in' style="margin-top:10px">
		<div>已停时长</div>
		<div class='time'>{{ hours }} 小时 {{ minutes }} 分钟</div>
	</div>
	<div>
		<div class='bottom-panel'>
			<div class='number'>无牌车</div>
			<div class='parkinglot'>上海交通大学医学院附属仁济</div>
			<div class='address'>上海交通大学医学院附属仁济</div>
			<div class='btn'>扫描二维码</div>
		</div>
	</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script type="text/javascript" src="/static/meta.0.0.1.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		

		$('.btn').click(() => {
	        meta.scan().then(function (result) {
	            alert(result);
	        });
	    });



	})
</script>
{% endblock %}
