<!-- 有车牌的车辆 -->

<!DOCTYPE html>
<html>
<head>
	<title>出场</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<form action="" method="post">
		{% csrf_token %}
		<span>车牌号: {{ car_number|default:'无牌-扫码入场' }}</span>
		{% if record %}
			<span>入场时间: {{ record.in_time|date:'Y-m-d H:i:s'}}</span>
			<input type="hidden" name='action' value='leave' />
			<input type="hidden" name='id' value='{{ record.id }}' />
			<input type="submit" value='出场' style='width: 100px;'/>
		{% endif %}
	</form>
</body>
</html>