<!-- 出口扫码支付滞留费, 不可用优惠券 -->
{% extends 'public_count/base/base.html' %}

{% block content %}
<style type="text/css">
	form{
	 	font-family: PingFangSC-Semibold;
	}
	.in{
	    font-size: 16px;
	    color: #6D7278;
	 }
	.parkinglot{
		font-size: 16px;
		text-align: center;
	}
	.content_row{
		text-align: center;
		margin-top: 20px;
		font-family: PingFangSC-Semibold;
		color: #000000;
	}
	.content_row .number{
		background: #3366CC;
		border-radius: 3px;
		border-radius: 3px;
		width: 40%;
		margin-top:10px;
		text-align: center;
		color:white; 
		padding: 3px;
		margin-left: 30%;
	}
	.parktime .left{
		width: 50%;
		float: left;
		font-size: 16px;
		color: #6D7278;
	}
	.parktime .right{
		width: 50%;
		float: right;
		font-size: 16px;
		color: #6D7278;
	}
	.parktime .time{
		font-size: 16px;
		color: #000000;
	}
	#pay-btn{
		width: 60%;
	    margin-left: 20%;
	    margin-top: 10px;
	    background: #3366CC;
	    border-radius: 25px;
	    border: none;
	    font-family: PingFangSC-Medium;
	    font-size: 16px;
	    color: white;
	    text-align: center;
	    height: 40px;
	    padding-top: 10px;
	}
	.btn-success{
		width: 60%;
	    margin-left: 20%;
	    margin-top: 10px;
	    background: #3366CC;
	    border-radius: 5px;
	    border: none;
	    font-family: PingFangSC-Medium;
	    font-size: 16px;
	    color: #FFFFFF;
	    text-align: center;
	    height: 35px;
	    padding-top: 8px;
	}
	.payment{
		font-size: 24px;
		color: #f7c444;
		text-align: center;
		line-height: 22px;
	}
	.payable{
		font-size: 16px;
		color: #949292;
		line-height: 22px;
	}
	.bingo{
		width: 40px;
	}
</style>

<div class='pay'>
	<div class='title'>缴付滞留费</div>
	<form action="" method="post">
		{% csrf_token %}
		{% if r %}
		<div class='content_row parkinglot'>{{ parkinglot.name }}</div>
		<div class='content_row'>
			<div class='number'> {% if r.car_number %} {{ r.car_number}}{% else %} 无牌车 {% endif %}</div>
		</div>
		<div class="content_row parktime">
			<div class='left'>
				<div>结算时间</div>
				<div class='time'>{{ r.out_time|date:'Y-m-d H:i' }}</div>
			</div>
			<div class='right'>
				<div>滞留时长</div>
				<div class='time'>{{ hours.0 }} 小时 {{ hours.1 }} 分钟</div>
			</div>
			<div style="clear:both"></div>
		</div>

		<div class="content_row">
			实付金额 <span class='payment'> {{ payment }}</span>元
		</div>

		<div class='content_row'>
			<div id='pay-btn' product_id='{{product.id}}'>
				 立即缴费
			</div>
		</div>
	  
		{% endif %}
	</form>
</div>

<div class='paid' style="display: none">
	<div class='title'>支付成功</div>
	<div class='content_row'>
		<img src='/static/wechat/user/img/bingo.png' class='bingo' />
	</div>
	<div class='content_row leave'>
		请在十五分钟内离场
	</div>
	<div class='content_row'>
		<div class='parkinglot'>{{ parkinglot.name }}</div>
	</div>
	<div class='content_row'>
		<div class='number'> 
			{% if r.car_number %} {{ r.car_number}}{% else %} 无牌车 {% endif %}
		</div>
	</div>
	<div class="content_row parktime">
		<div class='left'>
			<div>入场时间</div>
			<div class='time'>{{ r.in_time|date:'Y-m-d H:i' }}</div>
		</div>
		<div class='right'>
			<div>已停时长</div>
			<div class='time'>{{ hours.0 }} 小时 {{ hours.1 }} 分钟</div>
		</div>
		<div style="clear:both"></div>
	</div>
	<div class="content_row ticket">
		5元现金券 <img src='/static/wechat/user/img/right.png' />
	</div>
	<div class="content_row">
		实付金额 <span class='payment'> {{ payment }} </span> 元 
	</div>
	<div class='content_row'>
		<div class='btn-success'>
			完  成
		</div>
	</div>
</div>
{% endif %}

{% endblock %}

{% block js %}
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script type="text/javascript" src="/static/egret.min.js"></script>
<script type="text/javascript" src="/static/egret.web.min.js"></script>
<script type="text/javascript" src="/static/meta.0.0.1.js"></script>

<script type="text/javascript">
	
	var record_id = {{ r.id }}

	var parkinglot_id = {{ parkinglot_id }}

	var product_id = {{product.id}}

	function myajax(url, data, callback, type){
            type = type || 'json'
            $.ajax({
                url: url, 
                data: data,
                type: 'post',
                dataType: type,
                success: callback
            })
        }

	$('#pay-btn').click(function(){
		
		myajax('/order/public/account/'+product_id+'/', {csrfmiddlewaretoken:'{{ csrf_token }}'}, (data)=>{
			pay(data)
		})
	})

	
	function pay(data){
	   WeixinJSBridge.invoke(
	      'getBrandWCPayRequest', {
	      	"appId":data.appId,     //公众号名称，由商户传入     
	         "timeStamp":data.timeStamp,         //时间戳，自1970年以来的秒数     
	         "nonceStr":data.nonceStr, //随机串     
	         "package":data.package,     
	         "signType":data.signType,         //微信签名方式：     
	         "paySign":data.paySign 	//微信签名 
	         // "appId":"wx2421b1c4370ec43b",     //公众号名称，由商户传入     
	         // "timeStamp":"1395712654",         //时间戳，自1970年以来的秒数     
	         // "nonceStr":"e61463f8efa94090b1f366cccfbbb444", //随机串     
	         // "package":"prepay_id=u802345jgfjsdfgsdg888",     
	         // "signType":"MD5",         //微信签名方式：     
	         // "paySign":"70EA570631E4BB79628FBCA90534C63FF7FADD89" //微信签名 
	      },
	      function(res){
		      if(res.err_msg == "get_brand_wcpay_request:ok" ){
		      	var xx = setInterval(function(){
			      	myajax('', 
			      		{
			      			csrfmiddlewaretoken:'{{ csrf_token }}',
			      		 	product_id: product_id,
			      		 	action: 'payconfirm'
			      		}, (data)=>{
						if(data.success){
							clearInterval(xx)
							$('.pay').hide()
							$('.paid').show()
						}
					})
				},500)
		        // 使用以上方式判断前端返回,微信团队郑重提示：
		        // res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
		      } else{
		      	alert('支付失败')
		      	console.info(res)
		      }
		
	   }); 
	}
	// if (typeof WeixinJSBridge == "undefined"){
	//    if( document.addEventListener ){
	//        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
	//    }else if (document.attachEvent){
	//        document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
	//        document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
	//    }
	// }else{
	//    onBridgeReady();
	// }

	function get_coupons(){

	}

	function charge_by_coupons(){
		var coupons = get_coupons()

		myajax('', 
			{ 'action': 'coupons_charge', 'coupons': coupons, 'id': record_id },
			(data)=>{
				$('.payable').html(data.payable)
				$('.payment').html(data.payment)
			})
	}


</script>
{% endblock %}
