<!-- 需要写一段判断今天是否已到一个车场值班的逻辑 -->
{% extends 'home.html' %}
{% block content%}
<p>上岗</p>
<form method="post" action="" id='login-form'>
	<select name="parkinglot" data-placeholder=选择车场" onchange="get_gate(this)">
		<option value="">选择车场</option>
		{% for i in parkinglots%}
		<option value="{{i.id}}">{{i.name}}</option>
		{% endfor %}
		
	</select>
	<select name="gate" data-placeholder="选择值班口" disabled>
		<option value="">选择值班口</option>

		
	</select>
	<input type="hidden" name="action" value="login" >
</form>
<div id='log'>登录</div>
<style type="text/css">
	form{
		margin-top: 8%;
	}
	select{
		width: 90%;
		border:0px;
		border-bottom: 1px solid rgba(158, 158, 158, 0.19);
		height: 40px;
		margin-left: 5%
	}
	div{
		width: 70%;
		background-color: rgba(158, 158, 158, 0.70);
		text-align: center;
		margin: 25% 0% 0% 15%;
		height: 30px;
    	padding-top: 10px;
	}	
	p{
		font-size: 20px;
		margin: 10% 0 0 5%
	}
</style>
{% endblock %}
{% block js%}
<script type="text/javascript">
	
	function get_gate(obj){
		var id = $(obj).val();
		if(id == ''){
			$('#login-form select[name=gate]').attr('disabled','disabled');
			return	
		}else{
			$('#login-form select[name=gate]').removeAttr('disabled')
		}

		$.ajax({
			url:'',
			type:'post',
			data:{
				'action':'gate',
				'parkinglot':$(obj).val()
			},
			success:function(e){
				$('#login-form select[name=gate]').empty();
				$('#login-form select[name=gate]').append('<option value="">选择值班口</option>');
				for(var i=0;i<e.data.length;i++){
					$('#login-form select[name=gate]').append('<option value="'+e.data[i].id+'">'+e.data[i].name+'</option>');
				}
			}
		})
	} 
	$('#log').click(function(){
		if($('#login-form select[name=gate]').attr('disabled') == 'disabled'){
			alert('车场车场不能为空')
		}else{
			if($('#login-form select[name=gate]').val() == ''){
				alert('值班口不能为空')
			}else{
				$('#login-form').submit()
			}
			
		}
		
	})
</script>
{% endblock%}