<div id='bottom' >
	{% if menu != 'my'%}
	<div id='park'class="act">
		<img src="/static/img/parking.png"><br>
		停车场
	</div>
	<div id='my'>
		<img src="/static/img/person.png"><br>
		账号
	</div>
	{% else %}
	<div id='park'>
		<img src="/static/img/parking1.png"><br>
		停车场
	</div>
	<div id='my'class="act">
		<img src="/static/img/person1.png"><br>
		停车场
	</div>
	{% endif %}
</div>
<style type="text/css">
	#bottom{
		position: absolute;
		/*margin-top: calc(100%-100px);*/
		font-size: 10px;
		height: 50px;
		bottom: 0;
		width: 100%;
		background-color: rgba(195, 182, 176, 0.13);
		
	}
	#bottom div{
		display: inline-block;
		width: 49%;
		text-align: center;
		padding-top: 2%
	}
	#bottom img{
		width: 10%;
	}
	.act{
		color: #3366CC
	}

</style>
<script type="text/javascript">
	$('#my').click(()=>(
		window.location.href='/account/personal/'
	))
	$('#park').click(()=>(
		window.location.href='/account/spec_pass/'
	))
</script>