
{% extends 'home.html' %}
{% block content %}
<div id='total'>
	{% include 'header.html' %}
	
	<div class='con'>
		<img src="{{ record.picture.url}}" id='im'>
		<p>用户填写</p>
		<!-- <div>
			<form method="post" action="" id='corrct-form'>
				<input type="text" name="num_1" class="inp">
				<input type="text" name="num_2" class="inp" maxlength="1">
				<span id='poi'>.</span>
				<input type="text" name="num_3" class="inp" maxlength="1">
				<input type="text" name="num_4" class="inp" maxlength="1">
				<input type="text" name="num_5" class="inp" maxlength="1">
				<input type="text" name="num_6" class="inp" maxlength="1">
				<input type="text" name="num_7" class="inp" maxlength="1" >
				<input type="" name="num_8" class="inp" placeholder="新能源">
				<input type="hidden" name="action" value="correct">
			</form>
		</div> -->
		<p>收银修改</p>	
		<div id='form-con'>
			<form method="post" action="" id='corr-form'>
				<input type="text" name="num_1" class="inp">
				<input type="text" name="num_2" class="inp" maxlength="1" oninput="toNext(1)">
				<span id='poi'>.</span>
				<input type="text" name="num_3" class="inp" maxlength="1" oninput="toNext(2)">
				<input type="text" name="num_4" class="inp" maxlength="1" oninput="toNext(3)">
				<input type="text" name="num_5" class="inp" maxlength="1" oninput="toNext(4)">
				<input type="text" name="num_6" class="inp" maxlength="1" oninput="toNext(5)">
				<input type="text" name="num_7" class="inp" maxlength="1" >
				<input type="" name="num_8" class="inp" placeholder="新能源">
				<input type="hidden" name="action" value="correct">
			</form>
		</div>
		<div id='fon'>
			<div id='ic'>
				<img src="/static/img/i.svg" width="50" height="50">
			</div>
			<div class="ma">未匹配到入场车牌<br>请核对照片修改车牌</div>
			<!-- <p class="ma"></p> -->
		</div>
		<div id='correct'>确认修改</div>
		
	
	</div>
	{% include 'bottom.html' %}
</div>

<style type="text/css">
	#total{
		width: 100%;
		height: 100%
	}
	#poi{
		color: white;
		font-size: 25px
	}
	.inp{
		width: 8%;
		height: 30px;
		margin: 2% 0 0 1%;
		text-align: center;
	}
	#form-con{
		background-color: #3366CC;
		width: 100%;
		height: 55px;
		padding-left: 2%;
		margin-top: 10px
	}
	.ma{
		font-size: 30px
	}
	#fon{
		text-align: center;
		position: absolute;
    	margin: 8% 0% 0% 15%;
	}
	#im{
		width: 100%;
		height: 140px
	}
	.con{
		margin-top: 50px
	}
	#correct{
		background-color: #3366CC;
		width: 70%;
		margin-left: 15%;
		text-align: center;
		position: absolute;
		bottom: 20%;
		padding-top: 8px;
    	height: 35px;
    	color: white;
    	font-size: 20px
	}
	#ic{
		background-color: #f4ea2a;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin: 5% 0 5% 40%
	}

</style>
{% endblock %}
{% block js %}
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
	$('#correct').click(()=>(
		$('#corr-form').submit()
	))
	function toNext(num){
		if(num <6){
			num++;
			$('#corr-form input[name=num_'+num+']').focus()	
		}
		
	}
	
</script>
{% endblock %}

