{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>畅停停车</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">
	<link href="/static/css/laydate.css" rel="stylesheet">
	
	{% block css%}
	{% endblock %}
</head>
<body>
	
	{% block content%}
	{% endblock %}
	<script src="/static/js/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
	
	{% block js%}
	
	{% endblock %}
	
	<style type="text/css">
		body{
			margin:0;
			font-family: PingFangSC-Medium
		}
	</style>


	
	


</body>
</html>