{% extends 'home.html' %}
{% block content%}
<div id='total'>
	<div id='head'>
		<div >
			<span id='in_p' {% if p == 1 %}class="active"{% endif %}>入场</span>
		</div>
		
		<div >
			<span id='out_p' {% if p == 0 %}class="active"{% endif %}>出场</span>
		</div>
		<div >
			<span id='ex'>{{ex}}</span>
			<span id='ex_p' {% if p == 2 %}class="active"{% endif %}>异常</span>
		</div>
		<form method="post" action="" >
			<input type="hidden" name="action" value="">
		</form>
	</div>
	{% if p != 2%}
	<div id='onl'>
		<div id='sel'>
			<form method="post" action="" id='sel-form'>
				<input type="date" name="start" class="tim layer-date laydate-icon" placeholder="起"{% if start %}value="{{start}}"{% endif %} >～
				<input type="date" name="end" class="tim layer-date laydate-icon" placeholder="止" {% if end %}value="{{end}}"{% endif %}>
				<input type="hidden" name="action" value="select">
			</form>
		</div>
		
		<div id='spec'>{% if tip == 0 %}只看特放{% else %}查看全部{% endif %}</div>
		
	</div>
	{% endif %}
	<div id='to' {% if p == 2%}class="sp"{% endif %} >
		{% for i in records %}
		<div class="item">
			<div class="le">
				<div class="num">{% if p != 2%}{{ i.number}}{% else %}无匹配车牌{% endif %} </div>
				<div class="ti">{% if p != 2%}{{i.out_time | date:'Y-m-d H:m:s'}} ¥9.00{% else %}{{i.update_time | date:'Y-m-d H:m:s'}}{% endif%}</div>
			</div>
			<div class="ri">
				<div>
					{% if p == 2%}
					{{i.get_status_display}}
					{% elif not p%}
					<i class="hi">hanhan</i>
					{% else %}
					{{i.bill.get_status_display}}
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	{% include 'bottom.html' %}
	
</div>
<form method="post" action="" id="status-form">
	{% csrf_token%}
	<input type="hidden" name="action" value="change">
	<input type="hidden" name="status" value="{{tip}}">
	<input type="hidden" name="ps" value="{{p}}">
</form>
<style type="text/css">
	.hi{
		color: white
	}
	#ex{
		background-color: red;
		color: white;
		border-radius: 50%;
		width: 13px;
		height: 13px;
		font-size: 9px;
		position: absolute;
		margin-left: 10%;
	}
	#head{
		position: absolute;
		top: 0;
		font-size: 18px;
		height: 50px;
		width: 100%;
	}
	#head div{
		display: inline-block;
		width: 32%;
		text-align: center;
		padding-top: 3%;
		font-family: PingFangSC-Medium
	}
	.active{
		border-bottom: 1px solid #3366CC;
		padding-bottom: 10px;
		color: #3366CC
	}
	.sp{
		margin-top:50px;
		border-top: 1px solid rgba(135, 206, 235, 0.2)
	}
	.tim{
		width: 43%;
		border:1px solid gray;
		text-align: center;
		font-size: 13px!important
	}
	#sel{
		text-align: left;
    	width: 60%;
		display: inline-block;
	}
	#sel form{
		margin-left: -20%;
	}
	#spec{
		display: inline-block;
		background-color: rgba(135, 206, 235, 0.2);
		border:1px solid #3366CC;
		font-size: 15px;
		font-family: PingFangSC-Regular;
		width: 20%;
	    height: 70%;
	    padding-right: 3%;
	}
	#to{
		width: 100%;
		overflow-y: scroll;
	}
	#total{
		width: 100%;
		height: 100%;
		position: fixed;
	}
	#onl{
		margin-top: 50px;
		text-align: right;
		border-top: 1px solid rgba(158, 158, 158, 0.19);
		border-bottom: 1px solid rgba(158, 158, 158, 0.19);
		height: 30px;
    	padding: 15px 10px 10px 0px;
	}
	.le{
		display: inline-block;
		width:78%
	}
	.ri{
		display: inline-block;
		width: 20%;
		color: gray;
		text-align: center;
		height: 100%

	}
	.item{
		padding: 8px 0px 5px 15px;
		border-bottom: 1px solid rgba(158, 158, 158, 0.5);
		height: 50px
	}
	.ti{
		color:gray;
	}
</style>
<script src="/static/js/laydate.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
	$('#in_p').click(function(){
		$('#head input').val('in');
		$('#head form').submit()
	});
	$('#out_p').click(function(){
		$('#head input').val('out');
		$('#head form').submit()
	});
	$('#ex_p').click(
		function(){
		$('#head input').val('ex');
		$('#head form').submit()
	});
	$(document).ready(()=>(
		$('#to').css('height',window.innerHeight-130+'')
	));
	$('#spec').click(()=>(
		$('#status-form').submit()
	));
	function sub(){
		console.log(1111)
		$('#sel-form').submit()
	}
	$('#sel-form input[name=start]').change(sub);
	$('#sel-form input[name=end]').change(sub)

	
</script>
{% endblock %}