
{% extends 'home.html' %}
{% block content %}
<div id='total'>
	{% include 'header.html' %}
	<div id='con'>
		<img src="{% if tip == 0 %}{{ record.picture_in.url}}{% else %}{{ record.picture_in.url}}{% endif %}" id='im'>
		<div>
			<div class="number">{{ record.number}}</div>
			<div class="ty">
				{% if type == 0%}
				<div>临停车</div>
				{% elif type == 1%}
				<div>月租车</div>
				{% endif %}
				<div>显示月租有效期</div>
			</div>
			
			
		</div>
		<div>
			<div class="item">计费时长:</div>
			<div class="item"></div>
		</div>
		<div>
			<div class="item">入场时间:</div>
			{% if record.in_time %}
			<div class="item">{{record.in_time}} </div>
			{% else%}
			<div class="item">无入场记录</div>
			{% endif %}
		</div>
		<div>
			<div class="item">出场时间:</div>
			{% if record.out_time %}
			<div class="item">{{record.out_time}} </div>
			{% else%}
			<div class="item">无出场记录</div>
			{% endif %}
		</div>
		<div>
			<div class="price">¥0</div>
			
		</div>
		<div>
			<div class="item">需核实入场时间</div>
			<div class="item">无需缴费</div>
		</div>
	</div>
	<div class="bt">
		<div id='pas'>特殊放行</div>
		<div id='que'>查看记录</div>
	</div>
	<form id='info_form' method="post" action="">
		 {% csrf_token %}
		<input type="hidden" name="action" value="check">
	</form>
	{% include 'bottom.html' %}
</div>
<div id='pass'>
	<div id='p_con'>
		<div id='canc'>x</div>
		<div id='mark'>特放备注</div>
		<div>
			<div class="car">
				<div class="c_item">押钞车</div>
				<div class="c_item">老干部</div>
			</div>
			<div class="car">
				<div class="c_item">救护车</div>
				<div class="c_item">疾控中心</div>
			</div>
			<div class="car">
				<div class="c_item">危险品车</div>
				<div class="c_item">残疾证</div>
			</div>
			<div id='voic'>voice</div>
			<div id='conf'>确认</div>
		</div>
	</div>
</div>
<style type="text/css">
	#mark{
		text-align: center;
		background-color: blue;
		color: white
	}
	#canc{
		text-align: right;
	}
	#p_con{
		width: 60%;
    	height: 300px;
    	margin: 20% 0 0 15%;
	}
	.price{
		color: blue;
		font-size: 25px;
		margin: 0 0 10px 2%;

	}
	.item{
		display: inline-block;
		font-size: 15px;
		color: gray;
		margin: 0 0 10px 2%;
	}
	#im{
		width: 100%;
		height: 140px
	}
	.number{
		display: inline-block;
		font-size: 50px;
		width: 46%;
		padding-left: 2%
	}
	.ty{
		display: inline-block;
		width: 49%;
		text-align: right;
	}
	.bt{
		position: absolute;
		width: 100%;
		bottom: 100px
	}
	.bt div{
		display: inline-block;
		font-size: 15px;
		text-align: center;
		width: 29%;
		background-color: #3F51B5;
		margin: 0% 8%;
		color:white;
		height: 33px;
		padding-top: 10px;
	}
	.ty div{
		margin-bottom: 10px;
		color: gray;
	}
	#con{
		margin-top: 50px
	}
	#total{
		position: fixed;
	    width: 100%;
	    height: 100%;
	}
	#pass{
		display: none;
		background-color:rgba(0,0,0,0.1);
		z-index: 1;
		width: 100%;
		height: 100%;
		position: fixed;
	}
</style>
{% endblock %}
{% block js %}
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
	$('#pas').click(()=>(
		$('#pass').toggle()
		
	))

	$('#que').click(() => (
		window.location.href='/account/record/'
	))
	// var inter = setInterval(check,50);
	// function check(){
	// 	$('#info_form').submit()
	// }
</script>
{% endblock %}

