
{% extends 'home.html' %}
{% block content %}
<div id='total'>
	{% include 'header.html' %}
	
	<div class='con'>

		<img src="{% if p == 0 %}{% if record.picture_out %}{{ record.picture_out.url}}{%else%}/static/img/car.png{% endif %}{% else %}{% if record.picture_in %}{{ record.picture_in.url}}{%else%}/static/img/car.png{% endif %}{% endif %}" id='im'>
		<div>
			<div class="number">{{ record.number}}</div>
			<div class="ty">
				{% if type == 0%}
				<div>临停车</div>
				<div id="no"> 233</div>
				{% elif type == 1%}
				<div>月租车</div>
				<div id="ti">{{ card.valid_start | date:'Y-m-d'}}-{{ card.valid_end | date:'Y-m-d'}} </div>
				{% endif %}
				
			</div>
			
			
		</div>
		<div>
			<div class="item">计费时长:</div>
			<div class="item">{% if record %}{{record.get_duration}}{% else %}0{% endif %} 小时</div>
		</div>
		<div>
			<div class="item">入场时间:</div>
			{% if record.in_time %}
			<div class="item">{{record.in_time}} </div>
			{% else%}
			<div class="nr item">无入场记录</div>
			{% endif %}
		</div>
		<div>
			<div class="item">出场时间:</div>
			{% if record.out_time %}
			<div class="item">{{record.out_time}} </div>
			{% else%}
			<div class="nr item">无出场记录</div>
			{% endif %}
		</div>
		{% if not record.in_time %}
		<div>
			<div class="price">¥0</div>
		</div>
		<div>
			<div class="item">需核实入场时间</div>
			<div id='phone'><img src="/static/img/phone.svg"></div>
			<!-- <a href="tel:13166037628">0311-85358073</a> -->
		</div>
		{% elif record.get_price == 0%}
		<div>
			<div class="price">¥0</div>
		</div>
		<div>
			<div class="item">无需缴费</div>
		</div>
		{% elif record.bill.status == 1%}
		<div>
			<div class="price">¥0</div>
		</div>
		<div>
			<div class="item">已线上缴费:¥{{record.get_price}}</div>
		</div>
		{% else %}
		<div>
			<div class="price">¥16</div>
		</div>
		<div>
			<div class="item">示例</div>
		</div>

		{% endif %}
	</div>
	<div class="bt">
		{% if p == 0%}
		<div id='pas'>特殊放行</div>
		{% endif %}
		<div id='que' {% if p == 1%}style="margin-left: 31%;"{% endif %}><span id='ex_t'><img src="/static/img/ex.png" id='ex_i'><i id='ex_f'>有异常</i></span>查看记录</div>
	</div>
	<form id='info_form' method="post" action="">
		 {% csrf_token %}
		<input type="hidden" name="action" value="check">
	</form>
	
	{% include 'bottom.html' %}
</div>
<div id='pass'>
	<form method="post" action="" id='pass-form' enctype="multipart/form-data">
		<input type="hidden" name="action" value="pass">
		<input type="hidden" name="remark">
		<input type="file" name="audio" style="display:none">
		<input type="hidden" name="id" value="{{record.id}}">
	</form>
	<div id='p_con'>
		<div id='canc'><img src="/static/img/Cancel.svg"> </div>
		<div id='mark'>特放备注</div>
		<div id='s_con'>
			<div class="car">
				<div class="c_item">押钞车</div>
				<div class="c_item">老干部</div>
			</div>
			<div class="car">
				<div class="c_item">救护车</div>
				<div class="c_item">疾控中心</div>
			</div>
			<div class="car">
				<div class="c_item">危险品车</div>
				<div class="c_item">残疾证</div>
			</div>
			<button id='voic'><img src="/static/img/voice.svg"></button>
			<!-- <audio src="/static/test.wav" controls></audio> -->
			<button id='stopAudio'><img src="/static/img/stop.svg"></button>
			<div id='conf'>确认</div>
		</div>
	</div>
</div>
<form method="post" action="" id ="check-form">
	<input type="hidden" name="action">
</form>
<style type="text/css">
	.nr{
		color: #EBC34B!important
	}
	#no{
		font-size: 8px;
		color: white
	}
	#ti{
		font-size: 8px;
	}
	#stopAudio{
		text-align: center;
		width: 100%;
		margin: 10% 0 5% 0;
		display: none;
		border: 0px;
		background-color: white
	}
	#stopAudio img{
		width: 70px;
		height: 70px;
		border-radius:50%;
		border:1px solid #3366CC;
		color: #3366CC;
	}
	#ex_t{
		position: absolute;
    	margin: -4% 0 0 -6%;
	}
	#ex_f{
		font-size: 6px;
		margin: 25% 0% 0% -22px;
	    z-index: 1;
	    position: absolute;
	}
	#ex_i{
		background-color: #3366CC;
		width: 25px;
    	height: 10px;
	}
	#phone{
		text-align: center;
    	margin: -30% 10% 0 65%;
    	border-radius: 50%;
    	background-color: rgba(51, 102, 204, 0.5);
    	width: 30%;
    	height: 30%;
	}
	#phone img{
		width: 60%;
	    height: 60%;
	    padding: 13%;
	}
	.non{
		text-align: center;
	}
	#conf{
		text-align: center;
		width: 60%;
		margin: 5% 0 0 20%;
		color: white;
		background-color: #3366CC;
		height: 10%;
		padding-top: 5%
	}
	#voic{
		text-align: center;
		width: 100%;
		margin: 10% 0 5% 0;
		border: 0px;
		background-color: white

	}
	#voic img{
		width: 70px;
		height: 70px
	}
	.car{
		width: 100%;
		text-align: center;
		padding-top: 7%
	}
	.c_item{
		display: inline-block;
		width: 35%;
		border: 1px solid gray;
		background-color: white
	}
	#s_con{
		background-color: white;
		height: 80%
	}
	#mark{
		text-align: center;
		background-color:  #3366CC;
		color: white;
		height: 10%;
		padding-top: 3%
	}
	#canc{
		text-align: right;
		height: 10%
	}
	#canc img{
		width: 10%
	}
	#p_con{
		width: 60%;
    	height: 400px;
    	margin: 20% 0 0 15%;
	}
	.price{
		color: blue;
		font-size: 25px;
		margin: 0 0 10px 2%;

	}
	.item{
		display: inline-block;
		font-size: 15px;
		color: gray;
		margin: 0 0 2% 2%;
	}
	#im{
		width: 100%;
		height: 140px
	}
	.number{
		display: inline-block;
		font-size: 40px;
		width: 66%;
		padding: 2% 0% 2% 2%;
	}
	.ty{
		display: inline-block;
		width: 26%;
		text-align: right;
	}
	.bt{
		position: absolute;
		width: 100%;
		bottom: 100px
	}
	.bt div{
		display: inline-block;
		font-size: 15px;
		text-align: center;
		width: 29%;
		background-color:#3366CC;
		margin: 0% 8%;
		color:white;
		height: 33px;
		padding-top: 10px;
	}
	.ty div{
		margin-bottom: 10px;
		color: gray;
		ont-size: 12px;
	}
	.con{
		margin-top: 50px
	}
	#total{
		position: fixed;
	    width: 100%;
	    height: 100%;
	}
	#pass{
		display: none;
		background-color:rgba(0,0,0,0.1);
		z-index: 1;
		width: 100%;
		height: 100%;
		position: fixed;
		font-family: PingFangSC-Medium
	}
</style>
{% endblock %}
{% block js %}
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
	var audio_context;
	var recorder;
	//录音
	{
		
	  	function start(){
	  		$('#voic').hide();
	  		$('#stopAudio').show();
	  		startRecord();
	  		
	  	}

	  	function end(){
	  		$('#stopAudio').toggle();
	  		$('#voic').show();
	  		
	  		stopRecording()
	  	}

	  	function uploadAudio(blob){
	  		var data = new FormData();
	  		data.append('audio',blob);
	  		data.append('action','audio');
	  		$.ajax({
	  			url:'',
	  			type:'POST',
                dataType:'json',
                processData: false,
                contentType: false,
                traditional:true,
                data:form_data,
                success:function(e){

                }
	  		});

	  	}

		function startUserMedia(){
			var input = audio_context.createMediaStreamSource(stream);
	    	console.log('Media stream created.');
			recorder = new Recorder(input);
	    	console.log('Recorder initialised.');

		}


		function startRecord(button){
			recorder && recorder.record();
		    console.log('Recording...');
		}
		function createDownloadLink() {
		    recorder && recorder.exportWAV(function(blob) {
		     	$('#pass input[name=audio]')[0].files.append(blob)
		    });
		    // var blob = new File([$('#voic')],'test.wav');
		    // console.log(blob);
		    // $('#pass input[name=audio]')[0].files.append(blob)
		}

		function stopRecording(button) {
		    recorder && recorder.stop();
		    console.log('Stopped recording.');
		    createDownloadLink();
	
		    
		    // recorder.clear();
		}




		window.onload = function init() {
		    try {
		      // webkit shim
		      window.AudioContext = window.AudioContext || window.webkitAudioContext;
		      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
		      window.URL = window.URL || window.webkitURL;
		      
		      audio_context = new AudioContext;
		      console.log('Audio context set up.');
		      console.log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
		    } catch (e) {
		      console.log('No web audio support in this browser!');
		    }
		    
		    navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
		      console.log('No live audio input: ' + e);
		    });
		};
		$('#voic').click(start);
		$('#stopAudio').click(end);
	}

	function setColor(){
		for(let a =0;a<$('.c_item').length;a++){
			$('.c_item').eq(a).css('background-color','white')
		}
	}
	$(document).ready(()=>(
		$('.non').css('height',window.innerHeight-100)
	))
	$('#conf').click(()=>(
		$('#pass-form').submit()
	))
	$('#pas').click(()=>(
		$('#pass').toggle()	
	))
	$('#canc img').click(()=>(
		setColor(),
		$('#pass-form input[name=remark]').val(''),
		$('#pass').toggle()	
	))
	$('#que').click(() => (
		window.location.href='/account/record/'
	))
	$('.c_item').click(function(){
		if($(this).css('background-color') == "rgb(51, 102, 204))"){
			$(this).css('background-color','white')
		}else{
			setColor();
			$('#pass-form input[name=remark]').val($(this).text());
			$(this).css('background-color','rgb(51, 102, 204)')
		}
	})
	function check(){
		clearInterval(inter);
		$('#check-form').submit()
	}
	if({{ change }} == true){
		var inter = setInterval(check,5000);
	}
	
	
</script>
{% endblock %}

