{% extends 'iframe.html' %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <ol class="col-lg-5 breadcrumb">
                            <li>计费规则设置</li>
                            <li>卡片类型配置</li>
                        </ol>
                        <div class="ibox-tools">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#" onclick="location.reload()"><i class="fa fa-refresh animated rotateIn"></i>&nbsp; 重新载入</a>
                                </li>
                            </ul>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                   
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-6 m-b-xs">
                                <button type="button" id="Add" class=" btn btn-primary model-btn" data-target='add_role_model' style="display: inline-block;"><i class="fa fa-plus"></i>&nbsp;新增</button>
                                <button type="button" id="update-btn" class="btn btn-primary " onclick="change()" style="display: inline-block;"><i class="fa fa-edit"></i>&nbsp;修改</button>
                                <button type="button" id="delete-btn" class="btn btn-primary " style="display: inline-block;"><i class="fa fa-trash"></i>&nbsp;删除</button>
                                <!-- <button type="button" id="reload-btn" class="btn btn-primary " onclick="rel()" style="display: inline-block;"><i class="fa fa-trash"></i>&nbsp;刷新</button> -->
                                <!-- <button type="button" id="Enable" class="btn btn-primary "><i class="fa fa-check-circle-o"></i>&nbsp;查询</button> -->
                            </div>
                            <div class="col-sm-3 m-b-xs"></div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped  table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>编号</th>
                                        <th>卡片名称</th>
                                        <th>工作时间段</th>
                                        <th>非工作时间段</th>
                                    </tr>
                                </thead>
                                <tbody id="data-view">
                                    <form id='delete-form' action="" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value='delete'>
                                    {% for i in cardtype %}
                                        <tr>
                                            <td><input name='ids' type='checkbox' value='{{i.id}}' /></td>
                                            <td>{{i.id}} </td>
                                            <td>{{ i.name }}</td>
                                            <td>{{i.work_start}}- {{i.work_end}}</td>
                                            <td>
                                                {{i.relax_start}}- {{i.relax_end}}
                                            </td>
                                        </tr>
                                    {% empty %}
                                    <tr class="text-center">
                                        <td colspan="11">没有找到匹配的记录</td>
                                    </tr>
                                    {% endfor %}
                                    </form>

                                </tbody>

                                <script id="data-tmpl" type="text/x-jquery-tmpl">
                                     
                                </script>

                            </table>
                        </div>
                        {% include 'common/page.html' %}
                    </div>
                </div>
            </div>
        </div>

<!-- update model -->
    {% for i in cardtype %}
        <div id='update_model_{{ i.id }}' class='model'>
        <div class="layui-layer-shade" id="layui-layer-shade6" times="6" style="z-index: 19891019; background-color: rgb(0, 0, 0); opacity: 0.3;"></div>
        <div class="layui-layer layui-layer-iframe" id="layui-layer6" type="iframe" times="6" showtime="0" contype="string" style="z-index: 19891020; width: 820px; height: 580px; top:20.5px; left: 215px;">
            <div class="layui-layer-title" style="cursor: move;"><i class="fa fa-user"></i> 修改卡类</div>
            <div id="" class="layui-layer-content"><div class="ibox-content">
                <div class="form-horizontal" id="verifyCheck">
                    <form id='update_form_{{i.id}}' action='' method="post" class="ups">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">卡片名称</label>
                            <div class="col-sm-4">
                                <input type="text" id='name' name="name" class="form-control required" value="{{i.name}} ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">工作时间段</label>
                            <div class="col-sm-4">
                                <input type="text" name="work_start" id='work_start_{{forloop.counter}}' class="laydate-icon form-control layer-date" value="{{i.work_start}} ">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" name="work_end" id='work_end_{{forloop.counter}}' class="laydate-icon form-control layer-date" value="{{i.work_end}} ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">非工作时间段</label>
                            <div class="col-sm-4">
                                <input type="text" name="relax_start" id='relax_start_{{forloop.counter}}' class="laydate-icon form-control layer-date" value="{{i.relax_start}} ">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" name="relax_end" id='relax_end_{{forloop.counter}}' class="laydate-icon form-control layer-date" value="{{i.relax_end}} ">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" name="id" class="form-control" value='{{i.id}}'>
                                <input type="hidden" name="action" class="form-control" value='update'>
                                <button type="submit" class="btn btn-primary" style="display: inline-block;"><i class="fa fa-check"></i> 保存</button>&nbsp;
                                <button class="btn btn-warning cancel" type="button" style="display: inline-block;"><i class="fa fa-times"></i> 取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div></div>
            <span class="layui-layer-setwin">
                <!-- <a class="layui-layer-min" href="javascript:;"><cite></cite></a>
                <a class="layui-layer-ico layui-layer-max" href="javascript:;"></a> -->
                <a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a>
            </span>
            <span class="layui-layer-resize"></span></div>
       </div>
       {% endfor %}

<!-- add model -->
       <div id='add_role_model' class='model'>
        <div class="layui-layer-shade" id="layui-layer-shade6" times="6" style="z-index: 19891019; background-color: rgb(0, 0, 0); opacity: 0.3;"></div>

        <div class="layui-layer layui-layer-iframe" id="layui-layer6" type="iframe" times="6" showtime="0" contype="string" style="z-index: 19891020; width: 820px; height: 580px; top:20.5px; left: 215px;">
            <div class="layui-layer-title" style="cursor: move;"><i class="fa fa-user"></i> 新增卡类</div>
            <div id="" class="layui-layer-content"><div class="ibox-content">
                <div class="form-horizontal" id="verifyCheck">
                    <form id='add_form' action='' method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">卡片名称</label>
                            <div class="col-sm-4">
                                <input type="text" id='name' name="name" class="form-control required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">工作时间段</label>
                            <div class="col-sm-4">
                                <input type="text" name="work_start" id='work_start' class="laydate-icon form-control layer-date">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" name="work_end" id='work_end' class="laydate-icon form-control layer-date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">非工作时间段</label>
                            <div class="col-sm-4">
                                <input type="text" name="relax_start" id='relax_start' class="laydate-icon form-control layer-date">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" name="relax_end" id='relax_end' class="laydate-icon form-control layer-date">
                            </div>
                        </div>
                       <!-- <div class="form-group">
                            <label class="col-sm-2 control-label">适用停车场</label>
                            <div class="col-sm-4">
                                <select name='suit' multiple="true" class="form-control required">
                                    {% for j in parkinglots %}
                                    <option value="{{j.id}}">{{ j.name}} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div> -->
                        
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" name="action" class="form-control" value='add'>

                                <button type="submit" class="btn btn-primary" style="display: inline-block;"><i class="fa fa-check"></i> 保存</button>&nbsp;
                                <button class="btn btn-warning cancel" type="button" style="display: inline-block;"><i class="fa fa-times"></i> 取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div></div>
            <span class="layui-layer-setwin">
                <!-- <a class="layui-layer-min" href="javascript:;"><cite></cite></a>
                <a class="layui-layer-ico layui-layer-max" href="javascript:;"></a> -->
                <a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a>
            </span>
            <span class="layui-layer-resize"></span></div>
       </div>
    </div>
{% endblock %}

{% block js %}
<script src="/static/js/laydate.js"></script>
<link href="/static/css/laydate.css" rel="stylesheet">
 <script>
        laydate.render({
          elem: "#work_start"
          ,type: 'time'
          // ,range: true
        });
         laydate.render({
          elem: "#relax_start"
          ,type: 'time'
          // ,range: true
        });
         laydate.render({
          elem: "#work_end"
          ,type: 'time'
          // ,range: true
        });
         laydate.render({
          elem: "#relax_end"
          ,type: 'time'
          // ,range: true
        });
        $('#work_start').val('');
        $('#work_end').val('');
        $('#relax_start').val('');
        $('#relax_end').val('');
        for(var i=1;i<=$('.ups').length;i++){
            laydate.render({
              elem: "#work_start_"+i+''
              ,type: 'time'
              // ,range: true
            });
            laydate.render({
              elem: "#relax_start_"+i+''
              ,type: 'time'
              // ,range: true
            });
             laydate.render({
              elem: "#work_end_"+i+''
              ,type: 'time'
              // ,range: true
            });
             laydate.render({
              elem: "#relax_end_"+i+''
              ,type: 'time'
              // ,range: true
            });
           
        }

        // var sstart = { elem: "#work_start", format: "YYYY-MM-DD", min: "1900-01-01", max: "2099-06-16", istime: false, istoday: false, choose: function (datas) { send.min = datas; send.start = datas } };

        // var send = { elem: "#send", format: "YYYY-MM-DD", min: "1900-01-01", max: "2099-06-16", istime: false, istoday: false, choose: function (datas) { sstart.max = datas } }; laydate(sstart); laydate(send);



        // var estart = { elem: "#estart", format: "YYYY-MM-DD", min: "1900-01-01", max: "2099-06-16", istime: false, istoday: false, choose: function (datas) { eend.min = datas; eend.start = datas } };

        // var eend = { elem: "#eend", format: "YYYY-MM-DD", min: "1900-01-01", max: "2099-06-16", istime: false, istoday: false, choose: function (datas) { estart.max = datas } }; laydate(estart); laydate(eend);


        // $("#estart").val("");

        // $("#eend").val("");



        // $("#sstart").val("");

        // $("#send").val("");

        // $('#Parking_ID').chosen();
        // $("#Parking_ID").trigger("chosen:updated");

        // var cnPicker = new CarnoPicker('#Car_CarNo'); cnPicker.init();



      



        $(function () { 
            // pager.init(); 



// add form validate
            $('#add_form').bootstrapValidator({

　　　　　　　　  message: 'This value is not valid',
            　 feedbackIcons: {
                　　　　　　　　valid: 'glyphicon glyphicon-ok',
                　　　　　　　　invalid: 'glyphicon glyphicon-remove',
                　　　　　　　　validating: 'glyphicon glyphicon-refresh'
            　　　　　　　　   },

                fields: {
                    role_name: {
                        message: '角色名不能为空',
                        validators: {
                            notEmpty: {
                                message: '角色名不能为空'
                            },
                            stringLength: {
                                     min: 3,
                                     max: 20,
                                     message: '角色名长度必须在3到20之间'
                                 },
                            remote:{
                                url: '',
                                data:function(validator) {
                                    return {
                                        role_name: $('#add_form input[name=role_name]').val(),
                                        action: 'validate',
                                        csrfmiddlewaretoken:'{{ csrf_token  }}'
                                    }
                                },
                                type:'post',
                                message: '角色名已存在'
                            }
                        }
                    }
                }
            });


// update form validate 
            

            $('#update-btn').click(function(){
                var ids = $('input[name=ids]:checked')
                if(ids.length == 1){
                    initValidator(ids[0].value)

                    $('#update_model_'+ids[0].value).show()
                }
            })

        });
    function initValidator(id){
                $('#update_form_'+id).bootstrapValidator({

    　　　　　　　　  message: 'This value is not valid',
                　 feedbackIcons: {
                    　　　　　　　　valid: 'glyphicon glyphicon-ok',
                    　　　　　　　　invalid: 'glyphicon glyphicon-remove',
                    　　　　　　　　validating: 'glyphicon glyphicon-refresh'
                　　　　　　　　   },

                    fields: {
                        role_name: {
                            message: '角色名不能为空',
                            validators: {
                                notEmpty: {
                                    message: '角色名不能为空'
                                },
                                stringLength: {
                                     min: 3,
                                     max: 20,
                                     message: '角色名长度必须在3到20之间'
                                 },
                                remote:{
                                    url: '',
                                    data:function(validator) {
                                        return {
                                            id: $('#update_form_'+id + ' input[name=id]').val(),
                                            role_name: $('#update_form_'+id + ' input[name=role_name]').val(),
                                            action: 'validate',
                                            csrfmiddlewaretoken:'{{ csrf_token  }}'
                                        }
                                    },
                                    type:'post',
                                    message: '角色名已存在'
                                }
                            },

                            
                        }
                    }
                });
    }


    function change(){
        var ids = $('input[name=ids]:checked')
                if(ids.length == 1){
                    initValidator(ids[0].value)

                    $('#update_model_'+ids[0].value).show()
                }
    }
    function rel(){

    	window.location.reload()
    }
   
    </script>

{% endblock %}
