{% extends 'iframe.html' %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <ol class="col-lg-5 breadcrumb">
                            <li>计费规则设置</li>
                            <li>卡片管理</li>
                        </ol>
                        <div class="ibox-tools">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#" onclick="location.reload()"><i class="fa fa-refresh animated rotateIn"></i>&nbsp; 重新载入</a>
                                </li>
                            </ul>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                   
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-6 m-b-xs">
                                <button type="button" id="Add" onclick="sh()" class=" btn btn-primary model-btn" data-target='add_role_model' style="display: inline-block;"><i class="fa fa-plus"></i>&nbsp;开卡</button>
                                <button type="button" id="update-btn" class="btn btn-primary " onclick="change()" style="display: inline-block;"><i class="fa fa-edit"></i>&nbsp;续卡</button>
                                <button type="button" id="delete-btn" class="btn btn-primary " style="display: inline-block;"><i class="fa fa-trash"></i>&nbsp;删除</button>
                                <button type="button" id="export-btn" class="btn btn-primary " style="display: inline-block;" onclick="exp()"><i class="fa fa-trash"></i>&nbsp;导出</button>
                                <form action="" method="post" id='export_form'>
                                     {% csrf_token%}
                                    <input type="hidden" name="action" value="export">
                                    
                                </form>
                                
                                <!-- <button type="button" id="reload-btn" class="btn btn-primary " onclick="rel()" style="display: inline-block;"><i class="fa fa-trash"></i>&nbsp;刷新</button> -->
                                <!-- <button type="button" id="Enable" class="btn btn-primary "><i class="fa fa-check-circle-o"></i>&nbsp;查询</button> -->
                            </div>
                            <div class="col-sm-3 m-b-xs"></div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped  table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>编号</th>
                                        <th>持卡人</th>
                                        <th>卡片类型</th>
                                        <th>有效期</th>
                                       
                                    </tr>
                                </thead>
                                <tbody id="data-view">
                                    <form id='delete-form' action="" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value='delete'>
                                    {% for i in cards %}
                                        <tr>
                                            <td><input name='ids' type='checkbox' value='{{i.id}}' /></td>
                                            <td>{{forloop.counter}} </td>
                                            <td>{{ i.owner.real_name }}</td>
                                            <td>{{i.my_card.name}} </td>
                                            <td>{{i.valid_start | date:'Y-m-d H:m'}}--{{ i.valid_end |date:'Y-m-d H:m'}}</td>
                                            
                                        </tr>
                                    {% empty %}
                                    <tr class="text-center">
                                        <td colspan="11">没有找到匹配的记录</td>
                                    </tr>
                                    {% endfor %}
                                    </form>

                                </tbody>

                                <script id="data-tmpl" type="text/x-jquery-tmpl">
                                     
                                </script>

                            </table>
                        </div>
                        {% include 'common/page.html' %}
                    </div>
                </div>
            </div>
        </div>

<!-- update model -->
    {% for i in cards %}
        <div id='update_model_{{ i.id }}' class='model update_model'>
        <div class="layui-layer-shade" id="layui-layer-shade6" times="6" style="z-index: 19891019; background-color: rgb(0, 0, 0); opacity: 0.3;"></div>
        <div class="layui-layer layui-layer-iframe" id="layui-layer6" type="iframe" times="6" showtime="0" contype="string" style="z-index: 19891020; width: 820px; height: 580px; top:20.5px; left: 215px;">
            <div class="layui-layer-title" style="cursor: move;"><i class="fa fa-user"></i> 修改卡片信息</div>
            <div id="" class="layui-layer-content"><div class="ibox-content">
                <div class="form-horizontal" id="verifyCheck">
                    <form id='update_form_{{i.id}}' action='' method="post" class="ups">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">持卡人</label>
                            <div class="col-sm-4">
                                <input type="text" name="owner" value="{{i.owner}} " class="form-control">
                            </div>
                            <label class="col-sm-2 control-label">卡片类型</label>
                            <div class="col-sm-4">
                                <select name='my_card' class="form-control required">
                                    <option value="">选择卡片类型</option>
                                    {% for n in cardtypes%}
                                    <option value="{{ n.id}}" {% if i.my_card.id == n.id%}selected{% endif %}>{{ n.name}} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-2 control-label">车牌号</label>
                            <div class="col-sm-4">
                                <input type="text" name="car_number" value="{{i.car_number}} " class="form-control">
                            </div>
                            <label class="col-sm-2 control-label">联系人电话</label>
                            <div class="col-sm-4">
                                <input type="text" name="phone" value="{{i.phone}} " class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">生效日期</label>
                            <div class="col-sm-4">
                                <input placeholder="有效开始" class="laydate-icon form-control layer-date" value="{{i.valid_start }}" name="valid_start" id='valid_times_{{forloop.counter}}'>
                            </div>
                            <label class="col-sm-2 control-label">截止日期</label>
                            <div class="col-sm-4">
                                <input placeholder="有效开始" class="laydate-icon form-control layer-date" value="{{i.valid_end }}" name="valid_end" id='valid_timee_{{forloop.counter}}'>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">所属停车场</label>
                            <div class="col-sm-4">
                                <select name='suit' class="form-control required" multiple>
                                    {% for n in parkinglot %}
                                    <option value="{{ n.id}}" {% if n in i.suit.all %}selected{% endif %}>{{ n.name}} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" name="id" class="form-control" value='{{i.id}}'>
                                <input type="hidden" name="action" class="form-control" value='update'>
                                <button type="submit" class="btn btn-primary" style="display: inline-block;"><i class="fa fa-check"></i> 保存</button>&nbsp;
                                <button class="btn btn-warning cancel" type="button" style="display: inline-block;"><i class="fa fa-times"></i> 取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div></div>
            <span class="layui-layer-setwin">
                <!-- <a class="layui-layer-min" href="javascript:;"><cite></cite></a>
                <a class="layui-layer-ico layui-layer-max" href="javascript:;"></a> -->
                <a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a>
            </span>
            <span class="layui-layer-resize"></span></div>
       </div>
       {% endfor %}

<!-- add model -->
       <div id='add_role_model' class='model'>
        <div class="layui-layer-shade" id="layui-layer-shade6" times="6" style="z-index: 19891019; background-color: rgb(0, 0, 0); opacity: 0.3;"></div>

        <div class="layui-layer layui-layer-iframe" id="layui-layer6" type="iframe" times="6" showtime="0" contype="string" style="z-index: 19891020; width: 820px; height: 580px; top:20.5px; left: 215px;">
            <div class="layui-layer-title" style="cursor: move;"><i class="fa fa-user"></i> 开卡</div>
            <div id="" class="layui-layer-content"><div class="ibox-content">
                <div class="form-horizontal" id="verifyCheck">
                    <form id='add_form' action='' method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">持卡人</label>
                            <div class="col-sm-4">
                                <input type="text" name="owner" class="form-control">
                            </div>
                            <label class="col-sm-2 control-label">卡片类型</label>
                            <div class="col-sm-4">
                                <select name='my_card' class="form-control required">
                                    <option value="">选择卡片类型</option>
                                    {% for n in cardtypes%}
                                    <option value="{{ n.id}}" >{{ n.name}} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">车牌号</label>
                            <div class="col-sm-4">
                                <input type="text" name="car_number" class="form-control">
                            </div>
                            <label class="col-sm-2 control-label">联系人电话</label>
                            <div class="col-sm-4">
                                <input type="text" name="phone" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">生效日期</label>
                            <div class="col-sm-4">
                                <input placeholder="生效日期" class="laydate-icon form-control layer-date" name="valid_start" id='valid_timea_1'>
                            </div>
                            <label class="col-sm-2 control-label">截止日期</label>
                            <div class="col-sm-4">
                                <input placeholder="截止日期" class="laydate-icon form-control layer-date" name="valid_end" id='valid_timea_2'>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">所属停车场</label>
                            <div class="col-sm-4">
                                <select name='suit' class="form-control required" multiple>
                                    {% for n in parkinglot %}
                                    <option value="{{ n.id}}" >{{ n.name}} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                      
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" name="action" class="form-control" value='add'>

                                <button type="submit" class="btn btn-primary" style="display: inline-block;"><i class="fa fa-check"></i> 保存</button>&nbsp;
                                <button class="btn btn-warning cancel" type="button" style="display: inline-block;"><i class="fa fa-times"></i> 取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div></div>
            <span class="layui-layer-setwin">
                <!-- <a class="layui-layer-min" href="javascript:;"><cite></cite></a>
                <a class="layui-layer-ico layui-layer-max" href="javascript:;"></a> -->
                <a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a>
            </span>
            <span class="layui-layer-resize"></span></div>
       </div>
    </div>
{% endblock %}

{% block js %}
<script src="/static/js/laydate.js"></script>
<link href="/static/css/laydate.css" rel="stylesheet">
 <script>
        $('.chosen-select').chosen();
        $('.chosen-select').chosen({'width': '200px'});
        laydate.render({
          elem: "#valid_timea_1"
          
          // ,range: true
        });
        laydate.render({
          elem: "#valid_timea_2"
        });
        $('#valid_timea_1').val('');
        $('#valid_timea_2').val('');
        for(var i=1;i<=$('.ups').length;i++){
            laydate.render({
              elem: "#valid_timee_"+i
              
            });
             laydate.render({
              elem: "#valid_times_"+i
             
            });


        }
    function sh(){
        initValidator('#add_form','')
    }
    function initValidator(name,id){
                $(name).bootstrapValidator({

    　　　　　　　　  message: 'This value is not valid',
                　 feedbackIcons: {
                    　　　　　　　　valid: 'glyphicon glyphicon-ok',
                    　　　　　　　　invalid: 'glyphicon glyphicon-remove',
                    　　　　　　　　validating: 'glyphicon glyphicon-refresh'
                　　　　　　　　   },

                    fields: {
                        owner: {
                            message: '持卡人不能为空',
                            validators: {
                                notEmpty: {
                                    message: '持卡人不能为空'
                                },
                                stringLength: {
                                     min: 3,
                                     max: 20,
                                     message: '持卡人长度必须在3到20之间'
                                 },
                                remote:{
                                    url: '',
                                    data:function(validator) {
                                        return {
                                            id:id,
                                            owner: $(name + ' input[name=owner]').val(),
                                            action: 'validate',
                                            csrfmiddlewaretoken:'{{ csrf_token  }}'
                                        }
                                    },
                                    type:'post',
                                    message: '持卡人已存在'
                                }
                            },

                            
                        },
                        car_number: {
                            validators: {
                                notEmpty: {
                                    message: '车牌号不能为空'
                                }
                            }
                        },
                        phone: {
                            validators: {
                                notEmpty: {},
                                digits: {},
                                phone: {
                                    country: 'CN',
                                    message: '请输入十一位手机号码'
                                }
                            }
                        },

                    }
                });
    }



       


    function change(){
        var ids = $('input[name=ids]:checked')
                if(ids.length == 1){
                    initValidator('#update_form_'+ids[0].value,ids[0].value)

                    $('#update_model_'+ids[0].value).show()
                }
    }
    function rel(){

    	window.location.reload()
    }
    function exp(){
        $('#export_form').submit()
    }
   
    </script>

{% endblock %}
