{% extends 'iframe.html' %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <ol class="col-lg-5 breadcrumb">
                            <li>计费规则</li>
                            <li>优惠券审核</li>
                        </ol>
                        <div class="ibox-tools">
                            <a onclick="window.location.href=window.location.href; "><i class="fa fa-refresh animated rotateIn"></i>&nbsp; 重新载入</a>
                        </div>
                    </div>
                    <div class="ibox-content" id="searchForm">
                        <div class="form-inline ">
                            <div class="form-inline">
                                <form id='query_form' action='' method="post">
                                    {% csrf_token %}
                                    <div class="form-group" style="width: 200px">
                                        <select data-placeholder="选择停车场" class="form-control chosen-select" child-id='gate_a'  name="parkinglot_id" style="display: none;">
                                            <option value=''>选择停车场</option>
                                            {% for i in parkinglots %}
                                                <option value='{{i.id}}' 
                                                {% if p == i.id %}selected{% endif %}
                                                >{{i.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div> &nbsp;&nbsp;
                                    <div class="form-group" style="width: 200px">
                                        <select data-placeholder="选择商家" class="form-control chosen-select" name="company_id" id='gate_a' style="display: none;">
                                            <option value="" selected="selected">选择商家</option>
                                            {% for i in companies %}
                                            <option value='{{i.id}}' 
                                                {% if c == i.id %}selected{% endif %}
                                                >{{i.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>&nbsp;&nbsp;
                                    <div class="form-group" style="width: 200px">
                                        <select data-placeholder="选择审核状态" class="form-control chosen-select" name="status" id='gate_a' style="display: none;">
                                            <option value="" selected="selected">选择审核状态</option>
                                            <option value="0"{% if s == 0 %}selected{% endif %}>审核中</option>
                                            <option value="1" {% if s == 1 %}selected{% endif %}>审核通过</option>
                                            <option value="2"{% if s == 2 %}selected{% endif %}>审核失败</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type='hidden' name='action' value='search' />
                                        <input type='hidden' name='page' value='{{page}}' id='page' />
                                        <input type='hidden' name='pagesize' value='{{pagesize}}' id='pagesize' />
                                        <button id='search-btn' class="btn btn-primary search-btn " type="button" style="display: inline-block;">
                                            <i class="fa fa-search"></i> 查 询
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-6 m-b-xs">
                                <button onclick="su('pass')" type="button" id="Add" class=" btn btn-primary model-btn" style="display: inline-block;"><i class="fa fa-plus"></i>&nbsp;通过</button>
                                <button onclick="su('refuse')" type="button" id="delete-btn" class="btn btn-primary " style="display: inline-block;"><i class="fa fa-trash"></i>&nbsp;拒绝</button>
                            </div>
                            <div class="col-sm-3 m-b-xs"></div>
                        </div>
                        <div class="table-responsive">
                            <form id='op-form' action="" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="11">
                                <table class="table table-striped  table-hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>序号</th>
                                            <th>停车场</th>
                                            <th>商家</th>
                                           <!--  <th>优惠券类型</th> -->
                                            <th>优惠券名称</th>
                                            <th>限额</th>
                                            <th>余量</th>
                                            <th>有效截至</th>
                                            <th>状态</th>
                                           <!--  <th>操作</th> -->
                                        </tr>
                                    </thead>
                                    <tbody id="data-view">
                                        {% for i in objects %}
                                            <tr>
                                                <td><input name='ids' type='checkbox' value='{{i.id}}' /></td>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ i.parkinglot.name }}</td>
                                                <td>{{ i.company.name }}</td>
                                               <!--  <td>{{i.get_ticket_type_display}} </td> -->
                                                <td>{{ i.coupons.name }}</td>
                                                <td>{{ i.amount }}</td>
                                                <td>{{ i.extra }}</td>
                                                <td>{{ i.end_date|date:'Y-m-d' }}</td>
                                                <td class="{% if i.status == 0%}o{% elif i.status == 1 %}g{% else %}r{% endif %}">{{i.get_status_display}} </td>
                                            </tr>
                                        {% empty %}
                                        <tr class="text-center">
                                            <td colspan="10">没有找到匹配的记录</td>
                                        </tr>
                                        {% endfor %}
                                        

                                    </tbody>

                                    <script id="data-tmpl" type="text/x-jquery-tmpl">
                                         
                                    </script>

                                </table>
                            </form>
                        </div>
                        {% include 'common/page.html' %}
                    </div>
                </div>
            </div>
        </div>



<style type="text/css">
    .unit{
      display: inline-block;

    }
    .le{
        margin-left: 15%!important
    }
    .r{
        color: red
    }
    .o{
        color: orange
    }
    .g{
        color: green
    }
</style>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block js %}

<script>
    $('.chosen-select').chosen({'width': '200px'});
    function su(t){
        console.log(t);
        $('#op-form input[name=action]').val(t);
        $('#op-form').submit()
    }

</script>

{% endblock %}
