{% extends 'iframe.html' %}
{% block content %}
<style type="text/css">
	.add_form{
		display: none;
	}
	.number{
		width:100%;
		float: left;
	}
</style>
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <ol class="col-lg-5 breadcrumb">
                            <li>设备管理</li>
                            <li>优惠券类型设置</li>
                        </ol>
                        <div class="ibox-tools">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#" onclick="location.reload()"><i class="fa fa-refresh animated rotateIn"></i>&nbsp; 重新载入</a>
                                </li>
                            </ul>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" id="searchForm">
                        <div class="form-inline ">
                            <div class="form-inline">
                                <form id='query_form' action='' method="post">
                                    {% csrf_token %}
                                    <div class="form-group" style="width: 200px">
                                        <select data-placeholder="选择优惠券类型" class="form-control chosen-select"  name="type" style="display: none;">
                                            <option value=''>选择优惠券类型</option>
                                            <option value="0" {% if type == '0' %}selected{% endif %} >打折券</option>
                                            <option value="1" {% if type == '1' %}selected{% endif %}>代金券</option>
                                            <option value="2" {% if type == '2' %}selected{% endif %}>抵扣券</option>
                                            <option value="3" {% if type == '3' %}selected{% endif %}>满时券</option>
                                        </select>
                                    </div>
                                     
                                    <div class="form-group">
                                        <input type="text" placeholder="名称" class="form-control" name="name" value='{{name}}'>
                                    </div>
                                      
                                    <div class="form-group">
                                        <input type='hidden' name='action' value='search' />
                                        <input type='hidden' name='page' value='{{page}}' id='page' />
                                        <input type='hidden' name='pagesize' value='{{pagesize}}' id='pagesize' />
                                        <button id='search-btn' class="btn btn-primary search-btn " type="button" style="display: inline-block;">
                                            <i class="fa fa-search"></i> 查 询
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-6 m-b-xs">
                                <button type="button" id="Add" class=" btn btn-primary model-btn" data-target='add_model' style="display: inline-block;"><i class="fa fa-plus"></i>&nbsp;新增</button>
                                <button type="button" id="delete-btn" class="btn btn-primary " style="display: inline-block;"><i class="fa fa-trash"></i>&nbsp;删除</button>
                            </div>
                            <div class="col-sm-3 m-b-xs"></div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped  table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>序号</th>
                                        <th>券类型</th>
                                        <th>券名称</th>
                                        <!-- <th>折扣率</th>
                                        <th>优惠金额</th>
                                        <th>时长</th> -->
                                        <th>详细</th>
                                        <th>规则</th>
                                        <th>创建时间</th>
                                        <!-- <th>上次修改时间</th> -->
                                    </tr>
                                </thead>
                                <tbody id="data-view">
                                    <form id='delete-form' action="" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value='delete'>
                                        <input type="hidden" name="type" value='{{type}}'>
                                    {% for i in objects %}
                                        <tr>
                                         <td><input name='ids' type='checkbox' value='{{i.id}}' /></td>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ i.get_type_display }}</td>
                                            <td>{{ i.name }}</td>
                                           <!--  <td>{% if i.rate %}{{ i.rate }} %{% endif %}</td>
                                            <td>{% if i.money %}{{ i.money }} 元{% endif %}</td>
                                            <td>{% if i.hours %}{{ i.hours }}小时{% endif %}</td> -->
                                            <td>{{ i.detail|default:'' }}</td>
                                            <td>{{ i.rule }}</td>
                                            <td>{{ i.create_time|date:'Y-m-d H:i' }}</td>
                                            <!-- <td>{{ i.update_time|date:'Y-m-d H:i' }}</td> -->
                                            <td>
                                                <button type="button" _id='{{i.id}}' class="btn btn-primary update-btn" _type='{{i.type}}'
                                                style="display: inline-block;"><i class="fa fa-edit"></i>&nbsp;修改</button>
                                                
                                            </td>
                                        </tr>
                                    {% empty %}
                                    <tr class="text-center">
                                        <td colspan="11">没有找到匹配的记录</td>
                                    </tr>
                                    {% endfor %}
                                    </form>
                                </tbody>
                            </table>

                        </div>
                        {% include 'common/page.html' %}
                    </div>
                </div>
            </div>
        </div>

<!-- update model -->
{% for i in objects %}
    <div id='update_model_{{ i.id }}' class='model'>
        <div class="layui-layer-shade" id="layui-layer-shade6" times="6" style="z-index: 19891019; background-color: rgb(0, 0, 0); opacity: 0.3;">
        </div>

        <div class="layui-layer layui-layer-iframe" id="layui-layer6" type="iframe" times="6" showtime="0" contype="string" style="z-index: 19891020; width: 820px; height: 580px; top:20.5px; left: 215px;">
            <div class="layui-layer-title" style="cursor: move;"><i class="fa fa-car"></i> 修改优惠券</div>
            <div id="" class="layui-layer-content"><div class="ibox-content">
                <div class="form-horizontal" id="verifyCheck">
                    <form id='update_form_{{ i.id }}' action='' method="post">
                        {% csrf_token %}
                        <input type="hidden" name="type" value='{{type}}'>
                    {% if i.type == 0 %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">折扣名称</label>
                            <div class="col-sm-4">
                                <input type="text" name="name" value='{{i.name}}' class="form-control">
                            </div>
                            <label class="col-sm-1 control-label">折扣率</label>
                            <div class="col-sm-2">
                                <input type="text" name="rate" value='{{i.rate}}' class="form-control" >
                            </div>
                            <label class="col-sm-1 control-label">%</label>

                        </div>
                         <div class="form-group">
                            <label class="col-sm-2 control-label">说明</label>
                            <div class="col-sm-4">
                                <input type="text" name="detail" value='{{i.detail}}' class="form-control">
                            </div>
                        </div>
                       
                    {% elif i.type == 1 %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">代金券名称</label>
                            <div class="col-sm-4">
                                <input type="text" name="name" value='{{i.name}}' class="form-control">
                            </div>
                            <label class="col-sm-1 control-label">抵扣金额</label>
                            <div class="col-sm-4">
                                <input type="text" name="money" value='{{i.money}}' class="form-control">
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-2 control-label">说明</label>
                            <div class="col-sm-4">
                                <input type="text" name="detail" value='{{i.detail}}' class="form-control">
                            </div>
                        </div>
                  
                    {% elif i.type == 2 %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">抵扣券名称</label>
                            <div class="col-sm-4">
                                <input type="text" name="name" value='{{i.name}}' class="form-control">
                            </div>
                            <label class="col-sm-1 control-label">说明</label>
                            <div class="col-sm-4">
                                <input type="text" name="detail" value='{{i.detail}}' class="form-control">
                            </div>
                        </div>
                         <div class="form-group">
                         	<label class="col-sm-2 control-label">时长范围</label>
                            <div class="col-sm-4">
                                <input type="number" name="hours" value='{{i.hours}}' class="form-control">
                            </div>
                            <label class="col-sm-1 control-label">金额</label>
                            <div class="col-sm-4">
                                <input type="number" name="money" value='{{i.money}}'  class="form-control">
                            </div>
                        </div>
                        
                    {% elif i.type == 3 %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">满时券名称</label>
                            <div class="col-sm-4">
                                <input type="text" name="name" value='{{i.name}}' class="form-control">
                            </div>
                            <label class="col-sm-1 control-label">说明</label>
                            <div class="col-sm-4">
                                <input type="text" name="detail" value='{{i.detail}}' class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                        	<label class="col-sm-2 control-label">前</label>
                        	<div class="col-sm-1" style="padding: 0">
                        		<input type="number" name="hours1" value='{{i.hours1}}' class="form-control number">
                        	</div>
                            <label class="col-sm-1 control-label">小时,</label>
                            <label class="col-sm-1 control-label">计</label>
                            <div class="col-sm-1" style="padding: 0">
                        		<input type="number" name="hours1" value='{{i.hours1}}' class="form-control number">
                        	</div>
                        	<label class="control-label col-sm-1">元</label>
                        </div>
                         <div class="form-group">
                        	<label class="col-sm-2 control-label">前</label>
                        	<div class="col-sm-1" style="padding: 0">
                        		<input type="number" name="hours2" value='{{i.hours2}}' class="form-control number">
                        	</div>
                            <label class="col-sm-1 control-label">小时,</label>
                            <label class="col-sm-1 control-label">计</label>
                            <div class="col-sm-1" style="padding: 0">
                        		<input type="number" name="money2" value='{{i.money2}}' class="form-control number">
                        	</div>
                        	<label class="control-label col-sm-1">元</label>
                        </div>
                         <div class="form-group">
                        	<label class="col-sm-2 control-label">前</label>
                        	<div class="col-sm-1" style="padding: 0">
                        		<input type="number" name="hours3" value='{{i.money3}}' class="form-control number">
                        	</div>
                            <label class="col-sm-1 control-label">小时,</label>
                            <label class="col-sm-1 control-label">计</label>
                            <div class="col-sm-1" style="padding: 0">
                        		<input type="number" name="money3" value='{{i.money3}}' class="form-control number">
                        	</div>
                        	<label class="control-label col-sm-1">元</label>
                        </div>
                         <div class="form-group">
                        	<label class="col-sm-2 control-label">前</label>
                        	<div class="col-sm-1" style="padding: 0">
                        		<input type="number" name="hours4" value='{{i.hours4}}'  class="form-control number">
                        	</div>
                            <label class="col-sm-1 control-label">小时,</label>
                            <label class="col-sm-1 control-label">计</label>
                            <div class="col-sm-1" style="padding: 0">
                        		<input type="number" name="money4" value='{{i.money4}}' class="form-control number">
                        	</div>
                        	<label class="control-label col-sm-1">元</label>
                        </div>
                        {% endif %}

                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" name="action" class="form-control" value='update'>
                                <input type="hidden" name="id" class="form-control" value='{{i.id}}'>
                                <button type="submit" class="btn btn-primary" style="display: inline-block;"><i class="fa fa-check"></i> 保存</button>&nbsp;
                                <button class="btn btn-warning cancel" type="button" style="display: inline-block;"><i class="fa fa-times"></i> 取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
            <span class="layui-layer-setwin"> 
                <a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a>
            </span>
            <span class="layui-layer-resize"></span>
        </div>
    </div>
{% endfor %}

<!-- add model -->
    <div id='add_model' class='model'>
        <div class="layui-layer-shade" id="layui-layer-shade6" times="6" style="z-index: 19891019; background-color: rgb(0, 0, 0); opacity: 0.3;"></div>

        <div class="layui-layer layui-layer-iframe" id="layui-layer6" type="iframe" times="6" showtime="0" contype="string" style="z-index: 19891020; width: 820px; height: 580px; top:20.5px; left: 215px;">
            <div class="layui-layer-title" style="cursor: move;"><i class="fa fa-car"></i> 新增优惠券</div>
            <div id="" class="layui-layer-content"><div class="ibox-content">
                <div class="form-horizontal" id="verifyCheck">
                	<div class='form-group'>
	                    <label class="col-sm-2 control-label">优惠券类型</label>
						<div class="col-sm-4">
		                	<select data-placeholder="选择优惠券类型" class="form-control chosen-select"  name="type" style="display: none;" id='type_add'>
		                        <option value=''>选择优惠券类型</option>
		                        <option value="0">打折券</option>
		                        <option value="1">代金券</option>
		                        <option value="2">抵扣券</option>
		                        <option value="3">满时券</option>
		                    </select>
		                </div>
		                <div class="hr-line-dashed"></div>
	                </div>	
                    <form id='add_form0' action='' method="post" class='add_form'>
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">折扣名称</label>
                            <div class="col-sm-4">
                                <input type="text" name="name" class="form-control" placeholder="填写打折券名称 * ">
                            </div>
                            <label class="col-sm-2 control-label" placeholder="填写折扣率 * ">折扣率</label>
                            <div class="col-sm-2">
                                <input type="text" name="rate" class="form-control" placeholder="填写折扣率 * ">
                            </div>
                            <label class="col-sm-1 control-label">%</label>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-2 control-label">说明</label>
                            <div class="col-sm-4">
                                <input type="text" name="detail" class="form-control"  placeholder="填写说明">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" name="action" class="form-control" value='add'>
                                <input type="hidden" name="type" class="form-control" value='0'>
                                <button type="submit" class="btn btn-primary" style="display: inline-block;"><i class="fa fa-check"></i> 保存</button>&nbsp;
                                <button class="btn btn-warning cancel" type="button" style="display: inline-block;"><i class="fa fa-times"></i> 取消</button>
                            </div>
                        </div>
                    </form>
                    <form id='add_form1' action='' method="post" class='add_form'>
                        {% csrf_token %}
                		
                        <div class="form-group">
                            <label class="col-sm-2 control-label">代金券名称</label>
                            <div class="col-sm-4">
                                <input type="text" name="name" class="form-control" placeholder="填写代金券名称 * ">
                            </div>
                            <label class="col-sm-1 control-label">抵扣金额</label>
                            <div class="col-sm-2">
                                <input type="text" name="money" class="form-control" placeholder="填写金额 * ">
                            </div>
                            <label class="col-sm-1 control-label">元</label>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-2 control-label">说明</label>
                            <div class="col-sm-4">
                                <input type="text" name="detail" class="form-control" placeholder="填写说明">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" name="action" class="form-control" value='add'>
                                <input type="hidden" name="type" class="form-control" value='1'>
                                <button type="submit" class="btn btn-primary" style="display: inline-block;"><i class="fa fa-check"></i> 保存</button>&nbsp;
                                <button class="btn btn-warning cancel" type="button" style="display: inline-block;"><i class="fa fa-times"></i> 取消</button>
                            </div>
                        </div>
                    </form>
                    <form id='add_form2' action='' method="post" class='add_form'>
                        {% csrf_token %}
                		
                        <div class="form-group">
                            <label class="col-sm-2 control-label">抵扣券名称 : </label>
                            <div class="col-sm-4">
                                <input type="text" name="name" class="form-control" placeholder="填写抵扣券名称 *">
                            </div>
                            <label class="col-sm-1 control-label">说明 : </label>
                            <div class="col-sm-4">
                                <input type="text" name="detail" class="form-control" placeholder="填写说明">
                            </div>
                        </div>
                         <div class="form-group">
                         	<label class="col-sm-2 control-label">计费规则 : </label>
                            <div class="col-sm-2">
                                <input type="text" name="hours" class="form-control" placeholder="小时数 *">
                            </div>
                            <label class="col-sm-2 control-label" style="text-align: left;">个小时内 ,  计费为</label>
                            <div class="col-sm-2">
                                <input type="text" name="money" class="form-control" placeholder="金额 *">
                            </div>
                            <label class="col-sm-1 control-label">元</label>

                        </div>
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" name="action" class="form-control" value='add'>
                                <input type="hidden" name="type" class="form-control" value='2'>
                                <button type="submit" class="btn btn-primary" style="display: inline-block;"><i class="fa fa-check"></i> 保存</button>&nbsp;
                                <button class="btn btn-warning cancel" type="button" style="display: inline-block;"><i class="fa fa-times"></i> 取消</button>
                            </div>
                        </div>
                    </form>
                    <form id='add_form3' action='' method="post" class='add_form'>
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">满时券名称</label>
                            <div class="col-sm-4">
                                <input type="text" name="name" class="form-control" placeholder="填写名称 *">
                            </div>
                            <label class="col-sm-1 control-label">说明</label>
                            <div class="col-sm-4">
                                <input type="text" name="detail" class="form-control" placeholder='填写说明'>
                            </div>
                        </div>
                        <div class="form-group">
                        	<label class="col-sm-2 control-label">前</label>
                        	<div class="col-sm-1" style="padding: 0">
                        		<input type="text" name="hours1" class="form-control number" placeholder=" * ">
                        	</div>
                            <label class="col-sm-1 control-label">小时,</label>
                            <label class="col-sm-1 control-label">计</label>
                            <div class="col-sm-1" style="padding: 0">
                        		<input type="text" name="money1" class="form-control number" placeholder=" * ">
                        	</div>
                        	<label class="control-label col-sm-1">元</label>
                        </div>
                         <div class="form-group">
                        	<label class="col-sm-2 control-label">前</label>
                        	<div class="col-sm-1" style="padding: 0">
                        		<input type="text" name="hours2" class="form-control number">
                        	</div>
                            <label class="col-sm-1 control-label">小时,</label>
                            <label class="col-sm-1 control-label">计</label>
                            <div class="col-sm-1" style="padding: 0">
                        		<input type="text" name="money2" class="form-control number">
                        	</div>
                        	<label class="control-label col-sm-1">元</label>
                        </div>
                         <div class="form-group">
                        	<label class="col-sm-2 control-label">前</label>
                        	<div class="col-sm-1" style="padding: 0">
                        		<input type="text" name="hours3" class="form-control number">
                        	</div>
                            <label class="col-sm-1 control-label">小时,</label>
                            <label class="col-sm-1 control-label">计</label>
                            <div class="col-sm-1" style="padding: 0">
                        		<input type="text" name="money3" class="form-control number">
                        	</div>
                        	<label class="control-label col-sm-1">元</label>
                        </div>
                         <div class="form-group">
                        	<label class="col-sm-2 control-label">前</label>
                        	<div class="col-sm-1" style="padding: 0">
                        		<input type="text" name="hours4" class="form-control number">
                        	</div>
                            <label class="col-sm-1 control-label">小时,</label>
                            <label class="col-sm-1 control-label">计</label>
                            <div class="col-sm-1" style="padding: 0">
                        		<input type="text" name="money4" class="form-control number">
                        	</div>
                        	<label class="control-label col-sm-1">元</label>
                        </div>
                         
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" name="action" class="form-control" value='add'>
                                <input type="hidden" name="type" class="form-control" value='3'>
                                <button type="submit" class="btn btn-primary" style="display: inline-block;"><i class="fa fa-check"></i> 保存</button>&nbsp;
                                <button class="btn btn-warning cancel" type="button" style="display: inline-block;"><i class="fa fa-times"></i> 取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div></div>
            <span class="layui-layer-setwin"> 
                <a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a>
            </span>
            <span class="layui-layer-resize"></span></div>
       </div>


{% endblock %}

{% block js %}

 <script>

    $(function () { 

        $('.chosen-select').chosen({'width': '200px'});
 
 
        $('#type_add').on('change', function(){
 			var id = $(this).val()
 			console.info(id)
 			$('.add_form').hide()
 			$('#add_form'+id).show()
        })


        // add form validate
    function init_type1(id){

    	console.info('x')
    	$('#'+id).bootstrapValidator({

　　　　　　  message: 'This value is not valid',
        　  feedbackIcons: {
            　　　　　　　　valid: 'glyphicon glyphicon-ok',
            　　　　　　　　invalid: 'glyphicon glyphicon-remove',
            　　　　　　　　validating: 'glyphicon glyphicon-refresh'
        　　　　　　　　   },

            fields: {
                name: {
                    message: '优惠名称不能为空',
                    validators: {
                        notEmpty: {
                            message: '优惠名称不能为空'
                        },
                        stringLength: {
                                 min: 3,
                                 max: 20,
                                 message: '优惠名称长度必须在3到20之间'
                        }
                    }
                },
                rate: {
                	message: '折扣率为数字',
                	validators: {
                		notEmpty: {
                            message: '折扣率不能为空'
                        },
                		numeric:{
                			message: '请输入数字'
                		}
                	}
                }
            }
        });
        console.info($('update_model_4').bootstrapValidator)
      
    }

   	function init_type2(id){

		$('#'+id).bootstrapValidator({

　　　　　　  message: 'This value is not valid',
        　  feedbackIcons: {
            　　　　　　　　valid: 'glyphicon glyphicon-ok',
            　　　　　　　　invalid: 'glyphicon glyphicon-remove',
            　　　　　　　　validating: 'glyphicon glyphicon-refresh'
        　　　　　　　　   },

            fields: {
                name: {
                    message: '优惠名称不能为空',
                    validators: {
                        notEmpty: {
                            message: '优惠名称不能为空'
                        },
                        stringLength: {
                                 min: 3,
                                 max: 20,
                                 message: '优惠名称长度必须在3到20之间'
                        }
                    }
                },
                money: {
                	message: '请填写正确的金额',
                	validators: {
                		notEmpty: {
                            message: '抵扣金额不能为空'
                        },
                		numeric:{
                			message: '请填写数字'
                		}
                	}
                }
            }
        });
	}

	function init_type3(id){

		$('#'+id).bootstrapValidator({

　　　　　　  message: 'This value is not valid',
        　  feedbackIcons: {
            　　　　　　　　valid: 'glyphicon glyphicon-ok',
            　　　　　　　　invalid: 'glyphicon glyphicon-remove',
            　　　　　　　　validating: 'glyphicon glyphicon-refresh'
        　　　　　　　　   },

            fields: {
                name: {
                    message: '优惠名称不能为空',
                    validators: {
                        notEmpty: {
                            message: '优惠名称不能为空'
                        },
                        stringLength: {
                                 min: 3,
                                 max: 20,
                                 message: '优惠名称长度必须在3到20之间'
                        }
                    }
                },
                money: {
                	message: '请填写正确的金额',
                	validators: {
                		notEmpty: {
                            message: '抵扣金额不能为空'
                        },
                		numeric:{
                			message: '请填写数字'
                		}
                	}
                },
                hours: {
                	message: '请填写正确的时长',
                	validators: {
                		notEmpty: {
                            message: '时长不能为空'
                        },
                		numeric:{
                			message: '请填写数字'
                		}
                	}
                }
            }
        });

	}

	function init_type4(id){

		$('#'+id).bootstrapValidator({

　　　　　　  message: 'This value is not valid',
        　  feedbackIcons: {
            　　　　　　　　valid: 'glyphicon glyphicon-ok',
            　　　　　　　　invalid: 'glyphicon glyphicon-remove',
            　　　　　　　　validating: 'glyphicon glyphicon-refresh'
        　　　　　　　　   },

            fields: {
                name: {
                    message: '优惠名称不能为空',
                    validators: {
                        notEmpty: {
                            message: '优惠名称不能为空'
                        },
                        stringLength: {
                                 min: 3,
                                 max: 20,
                                 message: '优惠名称长度必须在3到20之间'
                        }
                    }
                },
                money1: {
                	message: '请填写正确的金额',
                	validators: {
                		notEmpty: {
                            message: '抵扣金额不能为空'
                        },
                		numeric:{
                			message: '请填写数字'
                		}
                	}
                },
                hours1: {
                	message: '请填写正确的时长',
                	validators: {
                		notEmpty: {
                            message: '时长不能为空'
                        },
                		numeric:{
                			message: '请填写数字'
                		}
                	}
                },
                money2: {
                	message: '请填写正确的金额',
                	validators: {
                		numeric:{
                			message: '请填写数字'
                		}
                	}
                },
                hours2: {
                	message: '请填写正确的时长',
                	validators: {
                		numeric:{
                			message: '请填写数字'
                		}
                	}
                },
                money3: {
                	message: '请填写正确的金额',
                	validators: {
                		numeric:{
                			message: '请填写数字'
                		}
                	}
                },
                hours3: {
                	message: '请填写正确的时长',
                	validators: {
                		numeric:{
                			message: '请填写数字'
                		}
                	}
                },
                money4: {
                	message: '请填写正确的金额',
                	validators: {
                		numeric:{
                			message: '请填写数字'
                		}
                	}
                },
                hours4: {
                	message: '请填写正确的时长',
                	validators: {
                		numeric:{
                			message: '请填写数字'
                		}
                	}
                }
            }
        });
// update form validate 
        
    }

    init_type1('add_form0')
    init_type2('add_form1')
    init_type3('add_form2')
    init_type4('add_form3')


    $('.update-btn').click(function(){
            var id = $(this).attr('_id')
            console.info(id)
            var t = $(this).attr('_type')
            if(t == '0'){
            	init_type1(id)
            }
            if(t == '1'){
            	init_type2(id)
            }
            if(t == '2'){
            	init_type3(id)
            }
            if(t == '3'){
            	init_type4(id)
            }
            $('#update_model_'+id).show()
        });
 

    });

    </script>

{% endblock %}
