    
    <div class="layui-layer-shade" id="layui-layer-shade6" times="6" style="z-index: 19891019; background-color: rgb(0, 0, 0); opacity: 0.3;"></div>
        <div class="layui-layer layui-layer-iframe" id="layui-layer6" type="iframe" times="6" showtime="0" contype="string" style="z-index: 19891020; width: 820px; height: 580px; top:20.5px; left: 215px;">
            <div class="layui-layer-title" style="cursor: move;"><i class="fa fa-car"></i> 修改角色</div>
            <div id="" class="layui-layer-content"><div class="ibox-content">
                <div class="form-horizontal" id="verifyCheck">
                    <form id='update_form' action='' method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">角色名称</label>
                            <div class="col-sm-4">
                                <input type="text" name="role_name" value='{{role.role_name}}' class="form-control required">
                            </div>
                            <label class="col-sm-1 control-label">说明</label>
                            <div class="col-sm-4">
                                <input type="text" name="detail"  value='{{role.detail|default:""}}' class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">权限明细</label>
                            <div class="col-sm-4">
    <!-- 切勿随意修改这段代码的结构 !!!! -->
{% for menu in menus %}
<div>      
    <input type='checkbox' value='{{ menu.id }}' class='menu'  name='menu'
        {% for xx in auth.menu %}
            {% if menu.id == xx %}checked{% endif %}
        {% endfor %}
     />  {{ menu.menu_name }}
        {% for child in menu.menu_set.all %}
        <div style="padding-left: 30px">
            <input type='checkbox' value='{{ child.id }}' class='child_menu' name='child_menu'
                {% for xx in auth.child_menu %}
                    {% if child.id == xx %}checked{% endif %}
                {% endfor %}
            />  {{ child.menu_name }}
                <div style="padding-left: 30px">
                {% for op in child.operation.all %}
                    <input type='checkbox' value='{{ op.id }}' class='operation' name='operation'
                        {% for xx in auth.operation %}
                            {% if op.id == xx %}checked{% endif %}
                        {% endfor %}
                    />   {{op.operation_name}}
                {% empty %}
                {% endfor %}
                </div>
        </div>
        {% empty %}
        {% endfor %}
</div>
{% empty %}
{% endfor %}
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" name="id" class="form-control" value='{{role.id}}'>
                                <input type="hidden" name="action" class="form-control" value='update'>
                                <button type="submit" class="btn btn-primary" style="display: inline-block;"><i class="fa fa-check"></i> 保存</button>&nbsp;
                                <button class="btn btn-warning cancel" type="button" style="display: inline-block;"><i class="fa fa-times"></i> 取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div></div>
            <span class="layui-layer-setwin">
                <!-- <a class="layui-layer-min" href="javascript:;"><cite></cite></a>
                <a class="layui-layer-ico layui-layer-max" href="javascript:;"></a> -->
                <a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a>
            </span>
            <span class="layui-layer-resize"></span></div>
<script type="text/javascript">
    $('#update_form').bootstrapValidator({

    　　　　　　　　  message: 'This value is not valid',
    　 feedbackIcons: {
        　　　　　　　　valid: 'glyphicon glyphicon-ok',
        　　　　　　　　invalid: 'glyphicon glyphicon-remove',
        　　　　　　　　validating: 'glyphicon glyphicon-refresh'
    　　　　　　　　   },

        fields: {
            role_name: {
                message: '角色名不能为空',
                validators: {
                    notEmpty: {
                        message: '角色名不能为空'
                    },
                    stringLength: {
                         min: 3,
                         max: 20,
                         message: '角色名长度必须在3到20之间'
                     },
                    remote:{
                        url: '',
                        data:function(validator) {
                            return {
                                id: $('input[name=id]').val(),
                                role_name: $('input[name=role_name]').val(),
                                action: 'validate',
                            }
                        },
                        type:'post',
                        message: '角色名已存在'
                    }
                },

                
            }
        }
    });


    $('.menu').click(function(){
        var checked = $(this).prop('checked')
        $(this).parent().find('input[type=checkbox]').prop('checked', checked)
    })
    $('.child_menu').click(function(){
        var checked = $(this).prop('checked')
        $(this).parent().find('.operation').prop('checked', checked)
        
        if($(this).parent().parent().find('.child_menu:checked').length >0){
            $(this).parent().parent().find('.menu').prop('checked', true)
        }else{
            $(this).parent().parent().find('.menu').prop('checked', false)
        }
    })
    $('.operation').click(function(){
        var checked = $(this).prop('checked')

        if($(this).parent().find('.operation:checked').length >0){
            $(this).parent().parent().find('.child_menu').prop('checked', true)
        }else{
            $(this).parent().parent().find('.child_menu').prop('checked', false)
        }

        if($(this).parent().parent().find('.child_menu:checked').length >0){
            $(this).parent().parent().parent().find('.menu').prop('checked', true)
        }else{
            $(this).parent().parent().parent().find('.menu').prop('checked', false)
        }

    })

    $('.layui-layer-close').click(function(){
            $('.model').hide()
        })
        $('.cancel').click(function(){
            $('.model').hide()
        })

</script>