{% extends 'iframe.html' %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <ol class="col-lg-5 breadcrumb">
                            <li>车辆管理</li>
                            <li>车辆信息</li>
                        </ol>
                        <div class="ibox-tools">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#" onclick="location.reload()"><i class="fa fa-refresh animated rotateIn"></i>&nbsp; 重新载入</a>
                                </li>
                            </ul>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" id="searchForm">
                        <div class="form-inline ">
                            <div class="form-inline">
                                <form id='query_form' action='' method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <select data-placeholder="选择停车场" class="form-control chosen-select" id="Parking_ID" name="Parking_ID" style="display: none;">
                                            <option value="">选择停车场</option>
                                        </select><div class="chosen-container chosen-container-single" style="width:196px" title="" id="Parking_ID_chosen"><a class="chosen-single chosen-default" tabindex="-1"><span>选择停车场</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off"></div><ul class="chosen-results"></ul></div></div>
                                    </div>
                                    <div class="form-group">
                                        <select data-placeholder="状态" class="form-control chosen-select" id="CarSpace_Status" name="CarSpace_Status">
                                            <option value="" selected="selected">状态</option>
                                            <option value="1">启用</option>
                                            <option value="0">禁用</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="车牌号码" class="form-control" id="Car_CarNo" name="Car_CarNo">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="角色名" class="form-control" id="role_name" name="role_name" value='{{role_name}}'>
                                    </div>
                                </div>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input placeholder="开始日期起" class="laydate-icon form-control layer-date" id="sstart" name="sstart">
                                        <input placeholder="开始日期止" class="laydate-icon form-control layer-date" id="send" name="send">
                                    </div>
                                    <div class="form-group">
                                        <input placeholder="结束日期起" class="laydate-icon form-control layer-date" id="estart" name="estart">
                                        <input placeholder="结束日期止" class="laydate-icon form-control layer-date" id="eend" name="eend">
                                    </div>
                                    <div class="form-group">
                                        <input type='hidden' name='action' value='search' />
                                        <input type='hidden' name='page' value='1' id='page' />
                                        <input type='hidden' name='pagesize' value='10' id='pagesize' />
                                        <button id='search-btn' class="btn btn-primary search-btn " type="button" style="display: inline-block;">
                                            <i class="fa fa-search"></i> 查 询
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-6 m-b-xs">
                                <button type="button" id="Add" class=" btn btn-primary model-btn" data-target='add_role_model' style="display: inline-block;"><i class="fa fa-plus"></i>&nbsp;新增</button>
                                <button type="button" id="update-btn" class="btn btn-primary " style="display: inline-block;"><i class="fa fa-edit"></i>&nbsp;修改</button>
                                <button type="button" id="Enable" class="btn btn-primary "><i class="fa fa-check-circle-o"></i>&nbsp;启用</button>
                                <button type="button" id="UnBind" class="btn btn-primary " style="display: inline-block;"><i class="fa fa-unlink"></i>&nbsp;解除车位</button>
                                <button type="button" id="delete-btn" class="btn btn-primary " style="display: inline-block;"><i class="fa fa-trash"></i>&nbsp;删除</button>
                                <button type="button" id="Export" class="btn btn-primary " style="display: inline-block;"><i class="fa fa-download"></i>&nbsp;导出</button>
                            </div>
                            <div class="col-sm-3 m-b-xs"></div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped  table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>角色名称</th>
                                        <th>说明</th>
                                    </tr>
                                </thead>
                                <tbody id="data-view">
                                    <form id='delete-form' action="" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value='delete'>
                                    {% for i in objects %}
                                        <tr>
                                         <td><input name='ids' type='checkbox' value='{{i.id}}' /></td>
                                            <td>{{ i.role_name }}</td>
                                            <td>{{ i.detail|default:''}}</td>
                                        </tr>
                                    {% empty %}
                                    <tr class="text-center">
                                        <td colspan="11">没有找到匹配的记录</td>
                                    </tr>
                                    {% endfor %}
                                    </form>

                                </tbody>

                                <script id="data-tmpl" type="text/x-jquery-tmpl">
                                     
                                </script>

                            </table>
                        </div>
                        <div class="row">
                            <div class="ibox-content page-box">
                                <div class="col-sm-5 page-size no-padding-y">
                                    显示<span id="item-begin">0</span> 到 <span id="item-end">0</span> 项，共 <span id="item-sum">0</span> 项，

                                    每页显示
                                    <select id="page-size">
                                        <option {% if pagesize == 10 %} selected {% endif %} value="10">10</option>
                                        <option {% if pagesize == 25 %} selected {% endif %} value="25">25</option>
                                        <option {% if pagesize == 50 %} selected {% endif %} value="50">50</option>
                                        <option {% if pagesize == 100 %} selected {% endif %} value="100">100</option>
                                    </select>
                                    条记录
                                </div>
                                <div class="col-sm-7 no-padding-y">

                                    <div class="dataTables_paginate paging_simple_numbers" style="padding:0">
                                      <ul class="pagination" style="margin:0">
                                          {% if objects.has_previous %}
                                          <li class="paginate_button previous">
                                              <a onclick="$('input[name=page]').val({{ objects.previous_page_number }});$('#query_form').submit();" aria-controls="example2" data-dt-idx="0" tabindex="0">上一页</a>
                                          </li>
                                          {% endif %}
                                          {% for i in objects.paginator.page_range %}
                                          <li {% ifequal i  objects.number %}class="paginate_button active" {% else %}class="paginate_button"{% endifequal %}>
                                              <a onclick="$('input[name=page]').val({{ i }});$('#query_form').submit();" aria-controls="example2" data-dt-idx="{{ i }}" tabindex="0">{{ i }}</a>
                                          </li>
                                          {% endfor %}
                                          {% if objects.has_next %}
                                          <li class="paginate_button next" id="example2_next">
                                              <a onclick="$('input[name=page]').val({{ objects.next_page_number }});$('#query_form').submit();"  aria-controls="example2" data-dt-idx="7" tabindex="0">下一页</a>
                                          </li>
                                          {% endif %}
                                      </ul>
                                  </div>
                                    <div class=" m-b-xs fa-pull-right text-right dataTables_paginate paging_simple_numbers" id="page-btm"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- update model -->
        <div id='update_model' class='model'>
        </div>
<!-- add model -->
       <div id='add_role_model' class='model'>
        <div class="layui-layer-shade" id="layui-layer-shade6" times="6" style="z-index: 19891019; background-color: rgb(0, 0, 0); opacity: 0.3;"></div>

        <div class="layui-layer layui-layer-iframe" id="layui-layer6" type="iframe" times="6" showtime="0" contype="string" style="z-index: 19891020; width: 820px; height: 580px; top:20.5px; left: 215px;">
            <div class="layui-layer-title" style="cursor: move;"><i class="fa fa-car"></i> 新增角色</div>
            <div id="" class="layui-layer-content"><div class="ibox-content">
                <div class="form-horizontal" id="verifyCheck">
                    <form id='add_form' action='' method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">角色名称</label>
                            <div class="col-sm-4">
                                <input type="text" name="role_name" class="form-control required">
                            </div>
                            <label class="col-sm-1 control-label">说明</label>
                            <div class="col-sm-4">
                                <input type="text" name="detail" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">权限明细</label>
                            <div class="col-sm-4">
    
{% for menu in menus %}
<div>
    <input type='checkbox' value='{{ menu.id }}' class='menu' name='menu' />  {{ menu.menu_name }}
        {% for child in menu.menu_set.all %}
        <div style="padding-left: 30px">
            <input type='checkbox' value='{{ child.id }}' class='child_menu' name='child_menu'
            parent='menu_{{ menu.id }}' />  {{ child.menu_name }}
                <div style="padding-left: 30px">
                {% for op in child.operation.all %}
                    <input type='checkbox' value='{{ op.id }}' class='operation' name='operation' />   {{op.operation_name}}
                {% empty %}
                {% endfor %}
                </div>
        </div>
        {% empty %}
        {% endfor %}
</div>
{% empty %}
{% endfor %}
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" name="action" class="form-control" value='add'>

                                <button type="submit" class="btn btn-primary" style="display: inline-block;"><i class="fa fa-check"></i> 保存</button>&nbsp;
                                <button class="btn btn-warning cancel" type="button" style="display: inline-block;"><i class="fa fa-times"></i> 取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div></div>
            <span class="layui-layer-setwin">
                <!-- <a class="layui-layer-min" href="javascript:;"><cite></cite></a>
                <a class="layui-layer-ico layui-layer-max" href="javascript:;"></a> -->
                <a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a>
            </span>
            <span class="layui-layer-resize"></span></div>
       </div>
    </div>
{% endblock %}

{% block js %}
 <script>

        var sstart = { elem: "#sstart", format: "YYYY-MM-DD", min: "1900-01-01", max: "2099-06-16", istime: false, istoday: false, choose: function (datas) { send.min = datas; send.start = datas } };

        var send = { elem: "#send", format: "YYYY-MM-DD", min: "1900-01-01", max: "2099-06-16", istime: false, istoday: false, choose: function (datas) { sstart.max = datas } }; laydate(sstart); laydate(send);



        var estart = { elem: "#estart", format: "YYYY-MM-DD", min: "1900-01-01", max: "2099-06-16", istime: false, istoday: false, choose: function (datas) { eend.min = datas; eend.start = datas } };

        var eend = { elem: "#eend", format: "YYYY-MM-DD", min: "1900-01-01", max: "2099-06-16", istime: false, istoday: false, choose: function (datas) { estart.max = datas } }; laydate(estart); laydate(eend);


        $("#estart").val("");

        $("#eend").val("");



        $("#sstart").val("");

        $("#send").val("");

        $('#Parking_ID').chosen();
        $("#Parking_ID").trigger("chosen:updated");

        var cnPicker = new CarnoPicker('#Car_CarNo'); cnPicker.init();



        // function GetDate(strDate) { return strDate == null ? "" : strDate.substr(0, 10); }

 



        // var pager = {

        //     pageIndexCurrent: 1,

        //     init: function () {

        //         $.ajaxSettings.async = false;

        //         this.bindSelect();

        //         $.ajaxSettings.async = true;

        //         this.bindPower();

        //         this.bindEvent();

        //     },

        //     bindSelect: function () {



        //         $.getJSON("/Car/GetAllCarType", {},

        //             function (json) {

        //                 if (json.Success) {

        //                     for (var d in json.Data) {

        //                         $("#CarType_No").append("<option value='" + json.Data[d].CarType_No + "'>" + json.Data[d].CarType_Name + "</option>");

        //                     }

        //                 }

        //             });



        //         $.getJSON("/Car/GetAllParking", {}, //Parking

        //             function (json) {

        //                 if (json.Success) {

        //                     for (var d in json.Data) {

        //                         $("#Parking_ID").append("<option value='" + json.Data[d].Parking_ID + "'>" + json.Data[d].Parking_Name + "</option>");

        //                     }

        //                     $('#Parking_ID').chosen();



        //                 }

        //             });

        //         //-----设置默认值---

        //         $("#Parking_ID").find("option").eq(1).attr("selected", true);

        //         $("#Parking_ID").trigger("chosen:updated");

        //         //-----------------

        //     },

        //     //数据绑定

        //     bindData: function (pageIndex) {

             

        //         //检测非法日期

        //         if (!laydate.checkDate('layer-date')) return;



        //         layer.msg('加载中...', { icon: 16, time: 0 });



        //         var conditionParam = $("#searchForm").formToJSON(true, function (data) {

        //             return data;

        //         });



        //         var pageSize = $("#page-size").val();

        //         $.ajax({

        //             type: 'post',

        //             url: '/Car/GetCarList',

        //             dataType: 'json',

        //             data: { pageIndex: pageIndex, pageSize: pageSize, conditionParam: JSON.stringify(conditionParam) },

        //             success: function (json) {

        //                 if (json.Success) {

        //                     //填充表格

        //                     if (json.Data.ResultList.length > 0) {

        //                         $("#data-view").html($('#data-tmpl').tmpl(json.Data.ResultList));



        //                         //加载表中checkbox的i-checks样式

        //                         $(".i-checks").iCheck({ checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green" });

        //                         //单选

        //                         $('.i-checks').on('ifChecked', function () { $('.i-checks').not(this).iCheck('uncheck'); });

        //                     }

        //                     else {

        //                         $("#data-view").html("<tr class='text-center'><td colspan='11'>没有找到匹配的记录</td></tr>");

        //                     }



        //                     //翻页组件

        //                     laypage({

        //                         cont: 'page-btm', //容器。值支持id名、原生dom对象，jquery对象,

        //                         pages: json.Data.TotalPage, //总页数

        //                         curr: json.Data.PageIndex, //当前页

        //                         skin: 'molv', //皮肤

        //                         skip: true, //是否开启跳页

        //                         first: 1, //将首页显示为数字1,。若不显示，设置false即可

        //                         last: json.Data.TotalPage, //将尾页显示为总页数。若不显示，设置false即可

        //                         prev: '<', //若不显示，设置false即可

        //                         next: '>', //若不显示，设置false即可



        //                         jump: function (e, first) { //触发分页后的回调

        //                             if (!first) { //一定要加此判断，否则初始时会无限刷新

        //                                 pager.pageIndexCurrent = e.curr;

        //                                 pager.bindData(e.curr);

        //                             }

        //                         }

        //                     });



        //                     //设置统计项显示

        //                     $("#item-begin").html(json.Data.PageIndex == 1 ? 1 : (json.Data.PageIndex - 1) * json.Data.PageSize);

        //                     $("#item-end").html(json.Data.TotalRecord < json.Data.PageIndex * json.Data.PageSize ? json.Data.TotalRecord : json.Data.PageIndex * json.Data.PageSize);

        //                     $("#item-sum").html(json.Data.TotalRecord);



        //                     layer.closeAll();

        //                 } else {

        //                     layer.msg('加载失败 ' + json.Message, { icon: 0 });

        //                 }

        //             },

        //             error: function () {

        //                 layer.msg('系统错误', { icon: 2 });

        //             }

        //         });

        //     },



        //     //导出数据到Excel

        //     bindExport: function () {

        //         //检测非法日期

        //         if (!laydate.checkDate('layer-date')) return;



        //         if ($("#Parking_ID").val() == "") {

        //             layer.msg("请选择停车场");

        //             return;

        //         }



        //         var conditionParam = $("#searchForm").formToJSON(true, function (data) {

        //             return data;

        //         });



        //         //window.location.href = '/Car/ExportExcel?' + "conditionParam=" + JSON.stringify(conditionParam);

        //         //实现Ajax下载文件

        //         $.fileDownload('/Car/ExportExcel?' + "conditionParam=" + JSON.stringify(conditionParam), {

        //             httpMethod: 'GET',

        //             data: null,

        //             prepareCallback: function (url) {

        //                 $("#Export").attr("disabled", true);

        //                 layer.msg('正在导出，请稍候...', { icon: 16, time: 0 });

        //             },

        //             successCallback: function (url) {

        //                 $("#Export").attr("disabled", false);

        //                 layer.msg('导出成功');

        //             },

        //             failCallback: function (html, url) {

        //                 $("#Export").attr("disabled", false);

        //                 layer.msg('导出失败', { icon: 0, time: 0, btn: ['确定'] });

        //             }

        //         });

        //     },



        //     bindEvent: function () {

        //         //查询

        //         $("#Search").click(function () {

        //             pager.pageIndexCurrent = 1;

        //             pager.bindData(pager.pageIndexCurrent);

        //         });


        //         //编辑

        //         $("#Update").click(function () {

        //             //获取要编辑的权限ID

        //             var checkes = $("#data-view input[type='checkbox']:checked");

        //             if (checkes.length > 0) {

        //                 var carId = $(checkes[0]).val();



        //                 //var updatelayer =

        //                     layer.open({

        //                         title: "<i class='fa fa-car'></i> 编辑车辆信息",

        //                         type: 2,

        //                         area: ['820px', '580px'],

        //                         fix: false, //不固定

        //                         maxmin: true, //可缩放

        //                         content: 'Edit?Edit=Update&Car_ID=' + carId

        //                     });

        //                 //layer.full(updatelayer);

        //             } else {

        //                 layer.msg("请选择！");

        //             }

        //         });

                 

        //         //禁用

        //         $("#UnBind").click(function () {

        //             var checkes = $("#data-view input[type='checkbox']:checked");

        //             if (checkes.length > 0) {

        //                 var CarSpace_ID = $(checkes[0]).attr("data-sid");

        //                 var Car_CarNo = $(checkes[0]).attr("data-car");

        //                 if (CarSpace_ID == null || CarSpace_ID == "") {

        //                     layer.msg("未绑定车位，无法操作");

        //                     return;

        //                 }

        //                 if (Car_CarNo == null || Car_CarNo == "") {

        //                     layer.msg("无车牌号，无法操作");

        //                     return;

        //                 }



        //                 layer.confirm('是否解除此车辆车位绑定？', {

        //                     btn: ['确定', '取消'], icon: 3

        //                 }, function () {

        //                     layer.msg('处理中...', { icon: 16, time: 0 });



        //                     $.getJSON("/Car/DisableCar", { CarSpace_ID: CarSpace_ID, Car_CarNo: Car_CarNo },

        //                         function (json) {

        //                             if (json.Success) {

        //                                 layer.msg('已解除', { icon: 1, time: 2000 }, function () {

        //                                     pager.bindData(pager.pageIndexCurrent);

        //                                 });

        //                             } else {

        //                                 layer.msg('解除失败：' + json.Message, { icon: 5 });

        //                             }

        //                         });



        //                 }, function () { });

        //             } else {

        //                 layer.msg("请选择！");

        //             }

        //         });



        //         //删除

        //         $("#Delete").click(function () {

        //             var checkes = $("#data-view input[type='checkbox']:checked");

        //             if (checkes.length > 0) {

        //                 var Car_CarNo = $(checkes[0]).attr("data-car");

        //                 if (Car_CarNo == null || Car_CarNo == "") {

        //                     layer.msg("无车牌号，无法操作");

        //                     return;

        //                 }

        //                 layer.confirm('是否删除此车辆？', {

        //                     btn: ['确定', '取消'], icon: 3

        //                 }, function () {

        //                     layer.msg('处理中...', { icon: 16, time: 0 });



        //                     $.getJSON("/Car/Delete", { Car_CarNo: Car_CarNo },

        //                         function (json) {

        //                             if (json.Success) {

        //                                 layer.msg('已删除', { icon: 1, time: 2000 }, function () {

        //                                     pager.bindData(pager.pageIndexCurrent);

        //                                 });

        //                             } else {

        //                                 layer.msg('删除失败：' + json.Message, { icon: 5, time: 3000 });

        //                             }

        //                         });



        //                 }, function () { });

        //             } else {

        //                 layer.msg("请选择！");

        //             }

        //         });



        //         //推送到线下

        //         $("#Pulldown").click(function () {

        //             var checkes = $("#data-view input[type='checkbox']:checked");

        //             if (checkes.length > 0) {

        //                 var CarType_No = $(checkes[0]).attr("data-cty");

        //                 if (",3652,3653,3654,3655,3661,3662,3663,3664,".indexOf(',' + CarType_No + ',') < 0) {

        //                     layer.msg("请选择月租车！");

        //                     return;

        //                 }



        //                 layer.confirm('是否推送选中的月租车？', {

        //                     btn: ['确定', '取消'], icon: 3

        //                 }, function () {

        //                     layer.msg('处理中...', { icon: 16, time: 0 });



        //                     //循环选中的月租车

        //                     var Car_IDarrays = new Array();

        //                     for (var i = 0; i < checkes.length; i++) {

        //                         var Car_ID = $(checkes[i]).val();



        //                         Car_IDarrays.push(Car_ID);

        //                     }



        //                     $.getJSON("/Car/PulledCar", { Car_IDarrays: Car_IDarrays.join(",") },

        //                      function (json) {

        //                          if (json.Success) {

        //                              layer.msg('已经推送成功!', { icon: 1, time: 2000 }, function () { });

        //                          } else {

        //                              layer.msg('推送失败：' + json.Message, { icon: 5 });

        //                          }

        //                      });





        //                 }, function () { });

        //             } else {

        //                 layer.msg("请选择！");

        //             }

        //         });



        //         //导出

        //         $("#Export").click(function () {

        //             pager.bindExport();

        //         });



        //         window.parent.pager.timeminmax($("#sstart"), $("#send"), sstart, send, window);

        //         window.parent.pager.timeminmax($("#estart"), $("#eend"), estart, eend, window);





        //         $("button").click(function () { $(this).blur(); });

        //         $("input[type='buttton']").click(function () { $(this).blur(); });

        //     },

        //     bindPower: function () {

        //         //加载表单权限控制

        //         // var fpower = window.parent.global.formPowerFill(window.location.pathname, null);

        //         // if (fpower["Search"]) {

        //         //     this.bindData(pager.pageIndexCurrent);

        //         // }

        //     }

        // };



    $(function () { 
            // pager.init(); 

        // add form validate
            $('#add_form').bootstrapValidator({

　　　　　　　　  message: 'This value is not valid',
            　 feedbackIcons: {
                　　　　　　　　valid: 'glyphicon glyphicon-ok',
                　　　　　　　　invalid: 'glyphicon glyphicon-remove',
                　　　　　　　　validating: 'glyphicon glyphicon-refresh'
            　　　　　　　　   },

                fields: {
                    role_name: {
                        message: '角色名不能为空',
                        validators: {
                            notEmpty: {
                                message: '角色名不能为空'
                            },
                            stringLength: {
                                     min: 3,
                                     max: 20,
                                     message: '角色名长度必须在3到20之间'
                                 },
                            remote:{
                                url: '',
                                data:function(validator) {
                                    return {
                                        role_name: $('#add_form input[name=role_name]').val(),
                                        action: 'validate',
                                        csrfmiddlewaretoken:'{{ csrf_token  }}'
                                    }
                                },
                                type:'post',
                                message: '角色名已存在'
                            }
                        }
                    }
                }
            });


// update form validate 
            

            $('#update-btn').click(function(){
                var ids = $('input[name=ids]:checked')
                console.info(ids)
                if(ids.length == 1){
                    var id = $(ids[0]).val()
                    $.ajax({
                        url: '/administrator/role/'+id+'/',
                        method: 'post',
                        dataType: 'html',
                        success: function(data){
                            $('#update_model').html(data)
                            $('#update_model').show()
                        }
                    })
                }
            });

            $('.menu').click(function(){
                var checked = $(this).prop('checked')
                $(this).parent().find('input[type=checkbox]').prop('checked', checked)
            })
            $('.child_menu').click(function(){
                var checked = $(this).prop('checked')
                $(this).parent().find('.operation').prop('checked', checked)
                
                if($(this).parent().parent().find('.child_menu:checked').length >0){
                    $(this).parent().parent().find('.menu').prop('checked', true)
                }else{
                    $(this).parent().parent().find('.menu').prop('checked', false)
                }
            })
            $('.operation').click(function(){
                var checked = $(this).prop('checked')

                if($(this).parent().find('.operation:checked').length >0){
                    $(this).parent().parent().find('.child_menu').prop('checked', true)
                }else{
                    $(this).parent().parent().find('.child_menu').prop('checked', false)
                }

                if($(this).parent().parent().find('.child_menu:checked').length >0){
                    $(this).parent().parent().parent().find('.menu').prop('checked', true)
                }else{
                    $(this).parent().parent().parent().find('.menu').prop('checked', false)
                }

            })




        });



    </script>

{% endblock %}
