<nav class="navbar-default navbar-static-side" role="navigation">

    <div class="nav-close">

        <i class="fa fa-times-circle"></i>

    </div>

    <div class="sidebar-collapse">

        <ul class="nav" id="side-menu">

            <li class="nav-header">

                <div class="dropdown profile-element" data-animation="bounceInRight">

                    <h4 class="text-navy">畅杰停车互联网平台</h4>

                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                        <span class="clear">

                            <span class="block m-t-xs"><strong class="font-bold">&#x5E73;&#x53F0;&#x5C55;&#x793A;</strong></span>

                            <span class="text-muted text-xs block">&#x9AD8;&#x7EA7;&#x7BA1;&#x7406;&#x5458;<b class="caret"></b></span>

                        </span>

                    </a>

                    <ul class="dropdown-menu animated fadeInRight m-t-xs">

                        <li class="changePwd"><a href="#">修改密码</a></li>

                        <li class="loginOut J_menuItem"><a href="#">安全退出</a></li>

                    </ul>

                </div>

                <div class="logo-element">P+</div>

            </li>


            <li class="menu-role">

                <a href="#" class="button"><i class="fa fa-th"></i> <span class="nav-label">系统配置 </span><span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">

                    <li><a class="J_menuItem" href="/administrator/user/" id="menuMaintain" id="menuMaintain">用户管理</a></li>

                    <li><a class="J_menuItem" href="/administrator/role/" id="menuRecord">角色管理</a></li>

                    <li><a class="J_menuItem" href="../AbnorOrder/Index">菜单管理</a></li>


                </ul>

            </li>


            <li class="menu-role">

                <a href="#" class="button"><i class="fa fa-th"></i> <span class="nav-label">收费管理 </span><span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">

                    <li><a class="J_menuItem" href="../ParkOrder/Index" id="menuMaintain" id="menuMaintain">停车收费</a></li>

                    <li><a class="J_menuItem" href="../ParkPassRecord/Index" id="menuRecord">出入场记录</a></li>

                    <li><a class="J_menuItem" href="../AbnorOrder/Index">异常放行记录</a></li>

                    <li><a class="J_menuItem" href="../InPark/Index" id="menuInParkCar">场内车辆</a></li>

                </ul>

            </li>



            <li class="menu-role">

                <a href="#"><i class="fa fa-car"></i> <span class="nav-label">车辆管理</span><span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">

                    <li><a class="J_menuItem" href="../Car/Index" id="menuMthCar">车辆信息</a></li>

                    <li><a class="J_menuItem" href="../CarImport/Index">月租车信息导入</a></li>

                    <li><a class="J_menuItem" href="../CarPay/Index" id="menuChargeList">月租车充值记录</a></li>

                    <li><a class="J_menuItem" href="../CarSpace/Index" id="menuCarSpace">车位信息</a></li>

                    <li><a class="J_menuItem" href="../CarSpaceCancel/Index">车位注销记录</a></li>

                    <li><a class="J_menuItem" href="../CarVisitor/Index">访客车辆管理</a></li>

                </ul>

            </li>



            <li class="menu-role">

                <a href="#"><i class="fa fa-balance-scale"></i> <span class="nav-label">优惠管理</span><span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">

                    <li><a class="J_menuItem" href="../BusinessManager/Index" id="menuBusiness">合作商家</a></li>

                    <li><a class="J_menuItem" href="../CouponSolution/Index" id="menuCouponSolution">优惠券方案</a></li>

                    <li><a class="J_menuItem" href="../CouponRecord/Index">优惠券记录</a></li>

                    <li><a class="J_menuItem" href="../CouponBatch/Index">优惠券批次</a></li>

                    <li><a class="J_menuItem" href="../BusinessChargeRules/Index">商家充值规则</a></li>

                    <li><a class="J_menuItem" href="../PayRecord/Index">商家收支明细</a></li>

                </ul>

            </li>





            <li class="menu-role">

                <a href="#"><i class="fa fa-road"></i> <span class="nav-label">车场管理</span><span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">

                    <li><a class="J_menuItem" href="../Parking/Index" id="menuParking">车场信息</a></li>

                    <li><a class="J_menuItem" href="../Sentrybox/Index">岗亭管理</a></li>

                    <li><a class="J_menuItem" href="../VehicleLane/Index" id="menuParkDevice">车道管理</a></li>

                    <li><a class="J_menuItem" href="../ParkSpace/Index">车位状态</a></li>

                    <li><a class="J_menuItem" href="../TempChargeRules/Index">计费规则</a></li>

                    <li><a class="J_menuItem" href="../WorkHandover/Index">交接班记录</a></li>

                    <li><a class="J_menuItem" href="../Einvoice/Index" id="menuInvoice">发票管理</a></li>

                    <li><a class="J_menuItem" href="../DeviceOnlineRecord/Index">设备在线记录</a></li>

                </ul>

            </li>



            <li class="menu-role">

                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">报表管理</span><span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">

                    <li><a class="J_menuItem" href="../RptVehicleflow/Index">车流量分析</a></li>

                    <li><a class="J_menuItem" href="../RptTotalIncome/Index">总收入分析</a></li>

                    <li><a class="J_menuItem" href="../RptPlatformIncome/Index">停车场总收入走势</a></li>

                    <li><a class="J_menuItem" href="../RptIncomeSource/Index">收入来源分析</a></li>

                    <li><a class="J_menuItem" href="../RptParkingSpace/Index">剩余车位分析</a></li>

                    <li><a class="J_menuItem" href="../RptTempCarOrder/Index">临时车收费分析</a></li>

                    <li><a class="J_menuItem" href="../RptMthCharge/Index">月租车充值分析</a></li>

                    <li><a class="J_menuItem" href="../RptCouponRecord/Index">优惠券使用分析</a></li>

                    <li><a class="J_menuItem" href="../PlatformPayOrderRecord/Index" id="menuPlatformPayOrderRecord">缴费记录</a></li>

                    <li><a class="J_menuItem" href="../BusinessChargeRecord/Index" id="menuBusCharge">商家充值记录</a></li>

                    <li><a class="J_menuItem" href="../ReserveOrderRecord/Index" id="menuReserve">车位预约记录</a></li>

                    <li><a class="J_menuItem" href="../SmsOrder/Index">短信发送记录</a></li>

                </ul>

            </li>

            <li class="menu-role">

                <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">系统管理</span><span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">

                    <li><a class="J_menuItem" href="../Admin/Index">管理员管理</a></li>

                    <li><a class="J_menuItem" href="../PowerGroup/Index">权限组管理</a></li>

                    <li><a class="J_menuItem" href="../SystemConfig/Index">平台参数配置</a></li>

                    <li><a class="J_menuItem" href="../WeixinMenuTool/Index">微信菜单工具</a></li>

                    <li><a class="J_menuItem" href="../SystemLog/Index" id="menuSystemLog">操作日志</a></li>

                </ul>

            </li>

        </ul>

    </div>

</nav>
