<nav class="navbar-default navbar-static-side" role="navigation">

    <div class="nav-close">

        <i class="fa fa-times-circle"></i>

    </div>

    <div class="sidebar-collapse">

        <ul class="nav" id="side-menu">

            <li class="nav-header">

                <div class="dropdown profile-element" data-animation="bounceInRight">

                    <h4 class="text-navy">畅杰停车互联网平台</h4>

                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                        <span class="clear">

                            <span class="block m-t-xs"><strong class="font-bold">&#x5E73;&#x53F0;&#x5C55;&#x793A;</strong></span>

                            <span class="text-muted text-xs block">&#x9AD8;&#x7EA7;&#x7BA1;&#x7406;&#x5458;<b class="caret"></b></span>

                        </span>

                    </a>

                    <ul class="dropdown-menu animated fadeInRight m-t-xs">

                        <li class="changePwd"><a href="#">修改密码</a></li>

                        <li class="loginOut J_menuItem"><a href="#">安全退出</a></li>

                    </ul>

                </div>

                <div class="logo-element">P+</div>

            </li>


            <li class="menu-role">

                <a href="#" class="button"><i class="fa fa-th"></i> <span class="nav-label">系统配置 </span><span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="/administrator/settings/">系统配置</a></li>
                    <li><a class="J_menuItem" href="/administrator/options/">系统类别明细</a></li>
                    <li><a class="J_menuItem" href="/administrator/role/">角色管理</a></li>
                    <li><a class="J_menuItem" href="/administrator/log/">操作日志</a></li>
                </ul>

            </li>

            <li class="menu-role">

                <a href="#" class="button"><i class="fa fa-th"></i> <span class="nav-label">用户管理 </span><span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">

                    <li><a class="J_menuItem" href="/administrator/user/">用户管理</a></li>
                    <li><a class="J_menuItem" href="/administrator/modify/">资料修改</a></li>

                </ul>

            </li>

            <li class="menu-role">

                <a href="#" class="button"><i class="fa fa-th"></i> <span class="nav-label">商家管理 </span><span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">

                    <li><a class="J_menuItem" href="/company/company">商家管理</a></li>
                    <li><a class="J_menuItem" href="/ParkOrder/Index">商家充值明细</a></li>
                    <li><a class="J_menuItem" href="/ParkOrder/Index">商家车牌充值明细</a></li>
                    <li><a class="J_menuItem" href="/ParkOrder/Index">折扣券管理</a></li>

                </ul>

            </li>



            <li class="menu-role">

                <a href="#"><i class="fa fa-car"></i> <span class="nav-label">停车场管理</span><span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">

                    <li><a class="J_menuItem" href="/parkinglot/parking_lot">停车场管理</a></li>
                    <li><a class="J_menuItem" href="/parkinglot/gate">出入口管理</a></li>
                    <li><a class="J_menuItem" href="/parkinglot/zone">区域管理</a></li>
                    <li><a class="J_menuItem" href="/parkinglot/place">泊位管理</a></li>
                    <li><a class="J_menuItem" href="/parkinglot/worker/">人员管理</a></li>
                    <li><a class="J_menuItem" href="/parkinglot/calendar/">日历管理</a></li>

                </ul>

            </li>
            <li class="menu-role">

                <a href="#"><i class="fa fa-car"></i> <span class="nav-label">设备管理</span><span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">

                    <li><a class="J_menuItem" href="/device/camera/">摄像头管理</a></li>
                    <li><a class="J_menuItem" href="/device/brake/">闸机管理</a></li>
                    <li><a class="J_menuItem" href="/device/groundsensor/">地感管理</a></li>

                </ul>

            </li>

            <li class="menu-role">

                <a href="#"><i class="fa fa-car"></i> <span class="nav-label">计费规则设置</span><span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">
                    
                    <li><a class="J_menuItem" href="/chargerule/baserule/">基本规则配置</a></li>
                    <li><a class="J_menuItem" href="/chargerule/cardtype/">卡片类型配置</a></li>
                    <li><a class="J_menuItem" href="/chargerule/coupontype/">优惠券类型配置</a></li>
                    <li><a class="J_menuItem" href="/chargerule/card/">卡片管理</a></li>
                    <li><a class="J_menuItem" href="/chargerule/coupon/">优惠券管理</a></li>

                </ul>

            </li>

            <li class="menu-role">

                <a href="#"><i class="fa fa-car"></i> <span class="nav-label">实时管理</span><span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">
                   
                    <li><a class="J_menuItem" href="/realtime/in_out/">出入场管理</a></li>
                    <li><a class="J_menuItem" href="/realtime/bill/">付费记录</a></li>
                </ul>

            </li>

            <li class="menu-role">

                <a href="#"><i class="fa fa-car"></i> <span class="nav-label">内部车管理</span><span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">
                   
                    <li><a class="J_menuItem" href="/ParkOrder/Index">内部车管理</a></li>
                    <li><a class="J_menuItem" href="/ParkOrder/Index">充值明细</a></li>
                    <li><a class="J_menuItem" href="/ParkOrder/Index">充值规则配置</a></li>
                    <li><a class="J_menuItem" href="/ParkOrder/Index">黑名单管理</a></li>

                </ul>

            </li>

            
            <li class="menu-role">

                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">报表管理</span><span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">

                    <li><a class="J_menuItem" href="/ParkOrder/Index">停车场支付方式日报表</a></li>
                    <li><a class="J_menuItem" href="/ParkOrder/Index">终端支付明细</a></li>
                    <li><a class="J_menuItem" href="/ParkOrder/Index">岗亭收费明细报表</a></li>
                    <li><a class="J_menuItem" href="/ParkOrder/Index">进出车辆明细报表</a></li>
                    <li><a class="J_menuItem" href="/ParkOrder/Index">提前收费明细报表</a></li>
                    <li><a class="J_menuItem" href="/ParkOrder/Index">车牌修改记录报表</a></li>
                    <li><a class="J_menuItem" href="/ParkOrder/Index">免费放行明细报表</a></li>
                    <li><a class="J_menuItem" href="/ParkOrder/Index">异常放行明细报表</a></li>
                    <li><a class="J_menuItem" href="/ParkOrder/Index">场内车辆查询</a></li>
                    <li><a class="J_menuItem" href="/ParkOrder/Index">高级抵用券明细报表</a></li>
                    <li><a class="J_menuItem" href="/ParkOrder/Index">高级抵用券汇总报表</a></li>
                    <li><a class="J_menuItem" href="/ParkOrder/Index">资金收入报表</a></li>
                    <li><a class="J_menuItem" href="/ParkOrder/Index">经营收入报表</a></li>

                </ul>

            </li>
 
        </ul>

    </div>

</nav>
