{% extends 'home.html'%}
{% block content%}
{{ msg }}
<div>
	
	<img src="/static/img/brand.png">
	<div id='title'>杰停停车</div>
	<form method="post" action="">
		{% csrf_token %}
		<input type="text" name="account" placeholder="账号">
		<input type="password" name="password" placeholder="密码">
		<input type="hidden" name="action" value="login">
		<input type="submit" value="登录" id='log'>
	</form>

	<!-- <div id='log'>登录</div> -->
</div>
<style type="text/css">
	img{
		margin: 20% 0% 0 35%;
		width: 30%
	}
	#title{
		text-align: center;
		font-size: 25px
	}
	input{
		width: 90%;
		border:0px;
		border-bottom: 1px solid rgba(158, 158, 158, 0.19);
		height: 40px;
		margin-left: 5%;
		font-size:16px
	}
	#log{
		width: 70%;
		background-color: rgba(158, 158, 158, 0.70);
		text-align: center;
		margin: 25% 0% 0% 15%;
		height: 40px;
    	padding-top: 5px;
    	font-size: 16px
	}
	form{
		margin-top: 10%
	}
</style>

{% endblock %}
